{% extends "paragraph--wdcb-slide.html.twig" %}

{% set attributes = attributes.addClass('col-xs-12', 'col-sm-4') %}

{% block content_wrapper_start %}<div class="content-wrapper eqht-trgt padded-sm">{% endblock %}
{% block content_wrapper_end %}</div>{% endblock %}
