#wb-bc {
  padding: 10px 20px;
  border-bottom: 1px solid $brand-secondary;
  @extend .bg-default;

  .breadcrumb {
    background: none;
    font-size: 0;
    padding: 0;

    li {
      font-size: $font-size-base;
      padding: 0;

      &:before {
        @include fontawesome("\f111");
        // content: "";
        font-size: 11px;
        color: $brand-secondary;
        padding-left: $padding-xs;
        padding-right: $padding-xs;
        top: 0;
      }

      a {
        color: $link-color;
        padding: 0;
        font-weight: 400;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $link-hover-color;
          text-decoration: underline;
        }
      }

      &.active {
        color: $text-color;
      }
    }
  }
}
