{% set placeholder_img = base_path ~ 'themes/custom/atssc_intra_wxt/images' %}
<div
	class="featured-content row">
	<div
		class="col-lg-3 featured-row">
		<div
			class="bg-light featured-card">
			<div
				class="card-img">
				<img
					class="card-media"
					src="{{placeholder_img}}/placeholder-1.jpg"/>
			</div>

			<div
				class="card-body">
				<h3
					class="h4">Lorem ipsum dolor sit amet consectetur</h3>
				<p>Vitae suscipit lacinia ac enim eget id. Massa adipiscing tempus aenean at sapien scelerisque mauris odio</p>

			</div>
			<div
				class="card-footer">
				<a
					href="#"
					class="btn btn-primary">Learn more</a>
			</div>

		</div>
	</div>
	<div
		class="col-lg-3 featured-row">
		<div
			class="bg-light featured-card">
			<div
				class="card-img">
				<img
					class="card-media"
					src="{{placeholder_img}}/placeholder-2.jpg"/>
			</div>

			<div
				class="card-body">
				<h3
					class="h4">Lorem ipsum dolor sit amet consectetur</h3>
				<p>Vitae suscipit lacinia ac enim eget id. Massa adipiscing tempus aenean at sapien scelerisque mauris odio</p>

			</div>
			<div
				class="card-footer">
				<a
					href="#"
					class="btn btn-primary">Learn more</a>
			</div>

		</div>
	</div>
	<div
		class="col-lg-3 featured-row">
		<div
			class="bg-light featured-card">
			<div
				class="card-img">
				<img
					class="card-media"
					src="{{placeholder_img}}/placeholder-3.jpg"/>
			</div>

			<div
				class="card-body">
				<h3
					class="h4">Lorem ipsum dolor sit amet consectetur</h3>
				<p>Vitae suscipit lacinia ac enim eget id. Massa adipiscing tempus aenean at sapien scelerisque mauris odio</p>

			</div>
			<div
				class="card-footer">
				<a
					href="#"
					class="btn btn-primary">Learn more</a>
			</div>

		</div>
	</div>
	<div
		class="col-lg-3 featured-row">
		<div
			class="bg-light featured-card">
			<div
				class="card-img">
				<img
					class="card-media"
					src="{{placeholder_img}}/placeholder-4.jpg"/>
			</div>

			<div
				class="card-body">
				<h3
					class="h4">Lorem ipsum dolor sit amet consectetur</h3>
				<p>Vitae suscipit lacinia ac enim eget id. Massa adipiscing tempus aenean at sapien scelerisque mauris odio</p>

			</div>
			<div
				class="card-footer">
				<a
					href="#"
					class="btn btn-primary">Learn more</a>
			</div>

		</div>
	</div>
</div>