.sk-block,
.sk-page-modal {
  .btn-txt-arrow {
    text-decoration: none !important;
    .btn-txt {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      &:hover,
      &:focus {
        text-decoration: underline !important;
      }
    }
  }

  a:not(.contact-section-btn):not(.btn-default) {
    text-decoration: underline;
  }

  .char {
    opacity: 1 !important;
  }
}

.divider.white.medium {
  display: none !important;
}
