{% if heading or content %}
  <div
    class='txt-content col-sm-12  mb-5'
  >
    {% block heading %}
    <div
      class='content-block op-0 pb-0 mb-0'
    >
      {% set regexPattern = '~^<h(\d+)>.*<\/h\1>$~' %}

      {% if heading starts with '<h' or heading matches regexPattern %}
        {{ heading }}

      {% else %}
        <h2>{{ heading | striptags }}</h2>
      {% endif %}

      {% if content %}
        {{ content }}
      {% endif %}
    </div>
    {% endblock %}
  </div>
{% endif %}
