.contact-section-home {
  .content-wrap {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .txt-img-content {
    display: flex;
    align-items: flex-start;

    @media screen and ($mobile_all) {
      flex-flow: column nowrap;
    }

    @media screen and ($min1024) {
      // @include vw(margin-bottom, 45px);
      // min-height: 585px;
      .txt-content {
        margin-top: 45px;
      }
      margin-bottom: 35px;
    }

    @media screen and ($min1920) {
      margin-bottom: 35px;
    }
  }

  .txt-content {
    flex: 0 0 auto;
    width: 100%;

    @media screen and ($mobile_sm) {
      @include vw(margin-bottom, 50px, 500);
    }
    @media screen and ($mobile_lg) {
      margin-bottom: 50px;
    }

    @media screen and ($min1024) {
      // @include vw(width, 565px);
      // @include vw(margin-left, 145px);
      padding-right: 15px;
      width: 50%;
    }

    @media screen and ($min1920) {
      // width: 514px;
      // margin-left: 145px;
      // margin-top: 89px;
    }

    .txt-size-12 {
      @include background-contrast-fix;

      @media screen and ($mobile_sm) {
        @include vw(margin-bottom, 31px, 500);
      }
      @media screen and ($mobile_lg) {
        margin-bottom: 31px;
      }
      @media screen and ($min1024) {
        @include vw(margin-bottom, 54px);
        @include vw(margin-left, 5px);
      }

      @media screen and ($min1920) {
        margin-bottom: 54px;
        margin-left: 5px;
      }
    }

    .txt-size-60 {
      @media screen and ($mobile_all) {
        line-height: 1;
      }

      @media screen and ($mobile_sm) {
        @include vw(margin-left, -2px, 500);
        // @include vw(margin-bottom, 84px, 500);
      }
      @media screen and ($mobile_lg) {
        margin-left: -2px;
      }
      margin-bottom: 27px;
    }

    .txt-post-rtf {
      @media screen and ($mobile_all) {
        line-height: 1.85;
      }
      @media screen and ($mobile_sm) {
        @include vw(letter-spacing, 1.1px, 500);
        @include vw(margin-right, 50px, 500);
      }
      @media screen and ($mobile_lg) {
        letter-spacing: 1.1px;
        margin-right: 50px;
      }

      @media screen and ($min1024) {
        @include vw(padding-right, 40px);
      }

      @media screen and ($min1920) {
        padding-right: 40px;
      }
    }

    .quote-by-txt {
      @media screen and ($mobile_sm) {
        @include vw(margin-top, 15px, 500);
        @include vw(letter-spacing, 1px, 500);
        @include vw(padding-left, 22px, 500);
      }
      @media screen and ($mobile_lg) {
        margin-top: 15px;
        letter-spacing: 1px;
        padding-left: 22px;
      }

      @media screen and ($min1024) {
        @include vw(margin-top, 40px);
        @include vw(padding-left, 23px);
      }

      @media screen and ($min1920) {
        margin-top: 40px;
        padding-left: 23px;
      }

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        backface-visibility: hidden;
        transform: translateY(-50%);
        background-color: $blue-1;
        width: 11px;
        height: 2px;
      }
    }
  }

  .txt-size-24 {
    backface-visibility: hidden;
  }

  .circle-filler-el {
    stroke: $green-7;
    stroke-width: 0.5px;
  }

  .circle-filler-canvas {
    pointer-events: none;
    backface-visibility: hidden;
    z-index: 1;

    @media screen and ($mobile_all) {
      display: none;
    }

    &.circle-1 {
      top: 0;
      left: 72.5%;
    }

    &.circle-2 {
      top: 69%;
      left: 0;
    }

    &.circle-3 {
      top: 69%;
      left: 72.2%;
    }
  }

  .img-hold {
    overflow: hidden;
    // border-radius: 50%;
  }

  .img-content {
    // border-radius: 50%;

    img {
      border-radius: 50%;
      @media screen and ($mobile_sm) {
        width: 100%;
        height: auto;
      }

      @media screen and ($mobile_lg) {
        width: 424px;
        height: 424px;
      }

      @media screen and ($min1024) {
        @include vw(width, 500px);
        @include vw(height, 500px);
      }
      @media screen and ($min1920) {
        height: 500px;
        width: 500px;
      }
    }

    @media screen and ($mobile_all) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and ($mobile_sm) {
      width: auto;
      height: auto;
    }

    @media screen and ($mobile_lg) {
      width: 424px;
      height: 424px;
    }

    @media screen and ($min1024) {
      // width: 50%;
      @include vw(height, 500px);
      @include vw(width, 500px);
      @include vw(margin-left, 200px);
    }

    @media screen and ($min1920) {
      width: 500px;
      height: 500px;
      margin-left: 200px;
    }
  }

  .blocks-wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;

    // @media screen and ($min1024) {
    //   // @include vw(margin-left, 145px);
    //   // padding-right: 15px;
    // }
    margin-bottom: $contentPadding;

    // @media screen and ($min1920) {
    //   // width: 514px;
    //   // margin-left: 145px;
    //   // margin-top: 89px;
    //   margin-bottom: $contentPadding;
    // }

    // @media screen and ($mobile_sm) {
    //   // @include vw(margin, 0 -15px, 500);
    //   @include vw(padding-top, 39px, 500);
    //   @include vw(padding-bottom, 72px, 500);
    // }
    // @media screen and ($mobile_lg) {
    //   // margin: 0 -15px;
    //   // padding-top: 39px;
    //   // padding-bottom: 72px;
    // }
    // @media screen and ($min1024) {
    //   @include vw(margin, -20px -77px 0);
    //   @include vw(padding-bottom, 32px);
    //   @include vw(padding-left, 265px);
    //   @include vw(padding-right, 109px);
    // }

    // @media screen and ($min1920) {
    //   margin: -20px -77px 0;
    //   padding-bottom: 32px;
    //   padding-left: 265px;
    //   padding-right: 109px;
    // }
  }

  .single-block {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    overflow: hidden;
    @media screen and ($mobile_sm) {
      @include vw(padding, 0 15px, 500);
      width: calc(33.33% - 6vw);
    }
    @media screen and ($mobile_lg) {
      padding: 0 15px;
      width: calc(33.33% - 30px);
    }
    @media screen and ($mobile_all) {
      flex-flow: column nowrap;
      justify-content: center;
      text-align: center;
    }

    @media screen and ($min1024) {
      @include vw(padding, 20px 25px);
      width: fit-content;
    }

    @media screen and ($min1920) {
      padding: 20px 25px;
      width: fit-content;
    }
    &.twilio-chat-btn {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .svg-icon-wrap {
    border-radius: 50%;
    background-color: $green-1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media screen and ($mobile) {
      height: 50px;
      width: 50px;
      margin-bottom: 25px;
    }
    @media screen and ($tablet) {
      margin-bottom: 25px;
    }

    @media screen and ($min1024) {
      @include vw(margin-right, 23px);
    }
    @media screen and ($min1920) {
      margin-right: 23px;
    }

    &.triangle-element::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: $green-1 transparent transparent transparent;
      @media screen and ($mobile_sm) {
        @include vw(bottom, -13px, 500);
        @include vw(right, 15px, 500);
        border-width: 17px 16px 0 0;
      }
      @media screen and ($mobile_lg) {
        bottom: -13px;
        right: 15px;
        border-width: 17px 16px 0 0;
      }
      @media screen and ($min1024) {
        @include vw(bottom, -13px);
        @include vw(right, 15px);
        border-width: 17px 16px 0 0;
      }
      @media screen and ($min1920) {
        bottom: -13px;
        right: 15px;
        border-width: 17px 16px 0 0;
      }
    }
  }

  .contact-icon {
    flex: 0 0 auto;

    path,
    circle {
      fill: $white;
    }
  }

  .msg-icon {
    width: 51px;
    height: 51px;
    padding: 5px 10px;
    @media screen and ($mobile) {
      width: 45px;
      height: 45px;
    }

    .st0 {
      opacity: 1;
    }
  }

  .email-btn {
    .cls-1-top {
      transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &:hover {
      .cls-1-top {
        transform: translate(0, 52%) rotateX(130deg);
      }
    }
  }

  .email-icon {
    // position: absolute;
    // top: 50%;
    // left: 54.5%;
    // transform: translate(-50%, -50%);
    // transform-origin: 50% 29%;
    width: 51px;
    height: 51px;
    @media screen and ($mobile) {
      width: 45px;
      height: 45px;
    }
    // padding: 15px;
    email-btn &.bottom-email-icon {
      left: 6px;
      bottom: 0;
      transform: none;
      top: 10px;
      transform-origin: unset;
      width: 45px;
      height: 45px;
    }
    &.top-part-svg {
      left: 28px;
      top: 30px;
    }
  }

  .phone-icon {
    width: 51px;
    height: 51px;
    padding: 11px 5px 13px 9px;

    @media screen and ($mobile) {
      width: 45px;
      height: 45px;
    }

    .signal-path {
      opacity: 0;
    }
  }

  .msg-icon {
    .st0 {
      fill-rule: evenodd;
      clip-rule: evenodd;
    }
  }

  .btn-wrap {
    text-align: center;
    position: relative;
    z-index: 2;
  }
}
