.resources-section-home {
  &.hide-resources {
    display: none;
  }
  background-color: $blue-4;
  margin-top: -5px;
  @media screen and ($mobile_sm) {
    @include vw(padding-top, 77px, 500);
    @include vw(padding-bottom, 130px, 500);
  }
  @media screen and ($mobile_lg) {
    padding-top: 77px;
    padding-bottom: 130px;
  }

  @media screen and ($min1024) {
    @include vw(padding-top, 90px);
    @include vw(padding-bottom, 113px);
  }

  @media screen and ($min1920) {
    padding-top: 90px;
    padding-bottom: 113px;
  }

  .background-circles-wrap {
    z-index: 0;
    pointer-events: none;
    position: absolute;
    top: 52.5%;
    left: 43.3%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and ($mobile_all) {
      display: none;
    }
    .circle-element {
      flex: 0 0 auto;
      background-color: $white;
      @media screen and ($mobile_sm) {
        @include vw(width, 204px, 500);
        @include vw(height, 360px, 500);
      }
      @media screen and ($mobile_lg) {
        width: 204px;
        height: 360px;
      }
      @media screen and ($min1024) {
        @include vw(width, 204px);
        @include vw(height, 408px);
      }
      @media screen and ($min1920) {
        width: 204px;
        height: 408px;
      }
    }
    .circle-right {
      @media screen and ($mobile_sm) {
        @include vw(border-radius, 0 408px 408px 0, 500);
      }
      @media screen and ($mobile_lg) {
        border-radius: 0 408px 408px 0;
      }
      @media screen and ($min1024) {
        @include vw(border-radius, 0 408px 408px 0);
      }
      @media screen and ($min1920) {
        border-radius: 0 408px 408px 0;
      }
    }

    .circle-left {
      margin-left: 1px;
      @media screen and ($mobile_sm) {
        @include vw(margin-right, 120px, 500);
        @include vw(border-radius, 408px 0 0 408px, 500);
      }
      @media screen and ($mobile_lg) {
        margin-right: 120px;
        border-radius: 408px 0 0 408px;
      }
      @media screen and ($min1024) {
        @include vw(margin-right, 120px);
        @include vw(border-radius, 408px 0 0 408px);
      }
      @media screen and ($min1920) {
        margin-right: 120px;
        border-radius: 408px 0 0 408px;
      }
    }
  }

  .blocks-hold {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    @media screen and ($mobile_sm) {
      @include vw(margin, 0 0 -32px, 500);
    }
    @media screen and ($mobile_lg) {
      margin: 0 0 -32px;
    }

    @media screen and ($min1024) {
      @include vw(margin, 0 -107px);
    }

    @media screen and ($min1920) {
      margin: 0 -107px;
    }
  }

  .single-block {
    position: relative;
    width: 100%;

    @media screen and ($mobile_sm) {
      @include vw(margin, 0 0 32px, 500);
    }
    @media screen and ($mobile_lg) {
      margin: 0 0 32px;
    }

    @media screen and ($min1024) {
      width: calc(33.33% - 11.146vw);
      @include vw(margin, 0 107px);

      &:hover,
      &:focus {
        .plain-link-btn::after {
          transform: scaleX(1);
          transform-origin: 0% 50%;
        }
      }
    }

    @media screen and ($min1920) {
      width: calc(33.33% - 214px);
      margin: 0 107px;
    }
  }

  .quote-person-wrap {
    display: flex;
    align-items: center;
  }

  .person-wrap-img {
    border-radius: 50%;
    overflow: hidden;

    width: 50px;
    height: 50px;
    img {
      width: 50px;
      height: 50px;
    }
    // @media screen and ($mobile_sm) {
    //     @include vw(width, 52px, 500);
    // }
    // @media screen and ($mobile_lg) {
    //     width: 52px;
    // }
    // @media screen and ($min1024) {
    //     @include vw(width, 52px);
    // }
    // @media screen and ($min1920) {
    //     width: 52px;
    // }

    .img-wrapper {
      width: 100%;
      position: relative;
    }
  }

  .section-title {
    position: relative;
    z-index: 2;
    @include background-contrast-fix;
    @media screen and ($mobile_sm) {
      @include vw(margin-bottom, 42px, 500);
      @include vw(letter-spacing, 3.6px, 500);
    }
    @media screen and ($mobile_lg) {
      margin-bottom: 42px;
      letter-spacing: 3.6px;
    }

    @media screen and ($min1024) {
      @include vw(margin-bottom, 79px);
    }

    @media screen and ($min1920) {
      margin-bottom: 79px;
    }
  }

  .block-title {
    @media screen and ($mobile_sm) {
      @include vw(margin-bottom, 12px, 500);
    }
    @media screen and ($mobile_lg) {
      margin-bottom: 12px;
    }
    @media screen and ($min1024) {
      @include vw(margin-bottom, 14px);
    }

    @media screen and ($min1920) {
      margin-bottom: 14px;
    }
  }

  .quote-person-txt {
    position: relative;

    @media screen and ($mobile_sm) {
      @include vw(margin-left, 39px, 500);
      @include vw(letter-spacing, 1.4px, 500);
    }
    @media screen and ($mobile_lg) {
      margin-left: 39px;
      letter-spacing: 1.4px;
    }

    @media screen and ($min1024) {
      @include vw(margin-left, 39px);
    }

    @media screen and ($min1920) {
      margin-left: 39px;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      backface-visibility: hidden;
      background-color: $blue-1;
      left: -20px;
      width: 11px;
      height: 2px;

      @media screen and ($min1024) {
        @include vw(left, -20px);
        @include vw(width, 11px);
        @include vw(height, 2px);
      }

      @media screen and ($min1920) {
        left: -20px;
        width: 11px;
        height: 2px;
      }
    }
  }

  .block-txt {
    @media screen and ($mobile_all) {
      line-height: 2;
    }

    @media screen and ($mobile_sm) {
      @include vw(margin-top, 33px, 500);
      @include vw(margin-bottom, 32px, 500);
      @include vw(letter-spacing, 1.1px, 500);
    }
    @media screen and ($mobile_lg) {
      margin-top: 33px;
      margin-bottom: 32px;
      letter-spacing: 1.1px;
    }

    @media screen and ($min1024) {
      @include vw(margin-top, 33px);
      @include vw(margin-bottom, 32px);
    }

    @media screen and ($min1920) {
      margin-top: 33px;
      margin-bottom: 32px;
    }
  }
}
