.Indent1 {
  margin-left: 3.4rem;
}
.Indent2 {
  margin-left: 6.8rem;
}
.Indent3 {
  margin-left: 10.2rem;
}
.Indent4 {
  margin-left: 13.6rem;
}
.Indent5 {
  margin-left: 17rem;
}
.Indent6 {
  margin-left: 20.4rem;
}
.Indent7 {
  margin-left: 24rem;
}
.Indent8 {
  margin-left: 27.4rem;
}
.Indent9 {
  margin-left: 30.8rem;
}
.Indent10 {
  margin-left: 34.2em;
}
