.search-result{
  border-left: 3px solid transparent;
  position: relative;
  transition: all 300ms;

  h3{
    margin-top: 0;

    a{
      color: $headings-color;

      &:visited{
        color: $headings-color;
      }
    }
  }

  &:hover,
  &:focus-within{
    background-color: $light;
    border-color: $brand-primary;
  }
}

.view-search{
  .view-filters{
    @include padded;
    background: $light;

    .form{
      &-inline{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
      }

      &-item{
        margin-right: $padding-xs;

        &:last-of-type{
          margin-right: 0;
        }
      }

      &-text{
        width: 100%;
      }

      &-submit{
        padding: 10px 15px!important;
        min-width: auto;
        text-align: left;
        width: auto;
  
        &:after{
          display: none;
        }
      }
    }
  }
}