.breadcrumb-wrap {
  &.single-article-breadcrumb {
    @media screen and ($min1024) {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }

    .breadcrumb-list {
      padding-left: 0;
      margin-left: -1rem;
      margin-right: -1.5rem;
    }
  }
}
