.sk-blog .blog-content {
  .wp-block-table {
    th,
    td {
      border: none;
    }
  }
  table {
    font-weight: 700;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    border: 1px solid $blue-16;
    border-radius: 25px;
    margin: 30px 0;

    thead {
      color: $blue-1;
      border-top: none;

      th {
        font-size: $ft-18;
        background-color: $green-9;

        &:first-of-type {
          border-top-left-radius: 25px;
        }

        &:last-of-type {
          border-top-right-radius: 25px;
        }
      }
    }

    th {
      border-bottom: 1px solid $blue-16 !important;
      padding: 23px 15px;

      @media screen and ($min1024) {
        padding: 1.198vw 0.781vw;
      }

      @media screen and ($min1920) {
        padding: 23px 15px;
      }

      &:not(:last-of-type) {
        border-right: 1px solid $blue-16;
      }
    }

    tbody {
      tr {
        &:nth-of-type(even) {
          background-color: $blue-22;
        }
      }
    }

    tr:last-of-type {
      td {
        border-bottom: none;
        &:first-of-type {
          border-bottom-left-radius: 25px;
        }

        &:last-of-type {
          border-bottom-right-radius: 25px;
        }
      }
      &:last-of-type {
        td {
          border-bottom: none !important;
        }
      }
    }

    td {
      padding: 15px;

      @media screen and ($min1024) {
        padding: 0.781vw;
      }

      @media screen and ($min1920) {
        padding: 15px;
      }

      border-bottom: 1px solid $blue-16 !important;

      &:not(:last-of-type) {
        border-right: 1px solid $blue-16 !important;
      }
    }

    tbody {
      color: $blue-15;
      line-height: 30px;
      font-size: 18px;
    }
  }
}
