@import 'block-base';
.block--c {
  .faq-questions-wrap {
    padding-top: 25px;

    @media screen and ($min1024) {
      @include vw(padding-top, 28px);
    }

    @media screen and ($min1920) {
      padding-top: 28px;
    }
  }

  .faq-question {
    position: relative;
    border-bottom: 1px solid $blue-1;

    &.preopened-item {
      .dropdown-content-wrap {
        height: auto;
      }

      .dropdown-arrow-btn {
        transform: rotate(-180deg) translateY(50%);
      }
    }

    &.opened {
      .dropdown-arrow-btn {
        transform: rotate(-180deg) translateY(50%);
      }
    }
  }

  .faq-question-title {
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 20px 70px 20px 0px;

    @media screen and ($min1024) {
      @include vw(padding, 20px 70px 20px 0px);
    }

    @media screen and ($min1920) {
      padding: 20px 70px 20px 0px;
    }
  }

  .dropdown-content-wrap {
    overflow: hidden;
    height: 0;
  }

  .dropdown-content {
    padding-bottom: 25px;

    @media screen and ($min1024) {
      @include vw(padding-bottom, 32px);
    }

    @media screen and ($min1920) {
      padding-bottom: 32px;
    }
  }

  .dropdown-arrow-btn {
    display: inline-block;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.3s $easeOutSine;
    width: 30px;
    height: 30px;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);

    @media screen and ($min1024) {
      @include vw(width, 30px);
      @include vw(height, 30px);
      @include vw(right, 7px);
    }

    @media screen and ($min1920) {
      width: 30px;
      height: 30px;
      right: 7px;
    }
  }

  .dropdown-arrow-btn::before {
    content: '';
    display: inline-block;
    position: absolute;
    backface-visibility: hidden;
    left: 50%;
    top: 50%;
    transition:
      transform 0.3s $easeOutSine,
      border-color 0.3s $easeOutSine;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: $blue-1;
    width: 6px;
    height: 6px;
    border-left-width: 2.5px;
    border-bottom-width: 2.5px;

    @media screen and ($min1024) {
      @include vw(width, 6px);
      @include vw(height, 6px);
      @include vw(border-left-width, 2.5px);
      @include vw(border-bottom-width, 2.5px);
    }

    @media screen and ($min1920) {
      width: 6px;
      height: 6px;
      border-left-width: 2.5px;
      border-bottom-width: 2.5px;
    }
  }
}
