@import 'block-base';
.sk-cta-phone {
  &.sk-block {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and ($max1024) {
    .text-highlight {
      // width: min-content;
      font-size: 24px;
      max-width: 225px;
    }

    .open-form-modal {
      width: 100%;
    }
    .phone-icon {
      margin: auto;
    }
  }

  a[href^='tel:']:not(.btn-default) {
    // text-wrap: nowrap;
    color: $green-1 !important;
    white-space: nowrap;
  }
  .phone-icon {
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    &::before {
      width: 48px;
      height: 48px;
    }
  }
}
