$desiredSpaceVW: 0vw;

@mixin no-padding {
  padding: 0 !important;

  &-x {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &-y {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
