.news {
  .field--name-field-topics {
    display: block;
    font-size: $font-size-h5;
    margin-bottom: $padding-xs;
    width: 100%;

    .field--items {
      display: flex;
      flex-wrap: wrap;
    }

    .field--item {
      // @extend .form-label;
      border-left: 3px solid $brand-secondary;
      border-radius: 0;
      color: $brand-secondary;
      display: inline-block;
      margin-bottom: 3px;
      text-align: left;
      white-space: normal;
    }
  }

  // teaser Display
  &.teaser {
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-color: $brand-primary;
    text-decoration: none;

    &:after {
      position: relative;
      content: "";
      display: block;
      background: url("../assets/svg/stick-arrow-right.svg") no-repeat center / auto 10px;
      width: 20px;
      height: 15px;
      margin-top: 5px;
    }

    .news-meta {
      color: $text-color;
      display: flex;
      flex-wrap: wrap;
      font-size: 15px;
      font-weight: 400;
      margin: 5px 0;

      .field + .field {
        margin-left: 5px;

        &:before {
          content: " - ";
          display: inline;
          position: relative;
        }
      }
    }

    .news-title {
      color: $brand-primary;
      margin: 0;
    }

    .links {
      margin-top: $padding-small-xs;

      li {
        margin: 0;
      }
    }
  }

  &.featured {
    height: 100%;
    transition: all 400ms;

    * {
      transition: all 400ms;
    }

    .news-title {
      margin: 0;
    }

    .news {
      &-image {
        img {
          @include object-fit;
          height: 100%;
        }
      }
      &-content {
        border: 1px solid $brand-primary;
        border-left: none;
        justify-content: center;

        &:after {
          position: relative;
          content: "";
          display: block;
          background: url("../assets/svg/btn-arrow-hover.svg") no-repeat center / auto 15px;
          width: 30px;
          height: 20px;
          margin-top: $padding-xs;
        }
      }
    }

    &:hover,
    &:focus-within {
      transform: scale(1.03);

      .news-content {
        background: $brand-secondary;
        border-color: transparent;
        box-shadow: 1px 1px 5px $gray-lighter;
        color: $white;

        * {
          color: $white;
        }

        &:after {
          background-image: url("../assets/svg/btn-arrow-hover-w.svg");
        }
      }
    }
  }

  // feed display
  &.feed {
    .field--name-field-icon {
      //background-color: $brand-primary;
      width: 125px;
      height: 125px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .field--item {
        vertical-align: middle;
      }
      svg {
        width: 100%;
      }
    }

    .news--content {
      display: flex;
      flex-wrap: wrap;

      .field {
        line-height: 1;
        margin-right: 5px;

        &--name {
          &-field-news-type {
            border-right: 1px solid;
            padding-right: 5px;
          }
          &-field-location {
            + .field--name-field-date {
              &:before {
                content: " - ";
                display: inline;
              }
            }
          }
          &-field-topics {
            margin-top: 5px;
          }
        }
      }
    }
  }

  // full page display
  &.full {
    h1 {
      font-size: 44px;
      font-weight: 600;
      text-align: left;
    }
    .bg-primary {
      h2 {
        font-weight: 500;
      }
    }
    .bg-secondary {
      h2 {
        font-weight: 500;
      }
    }

    .news--date {
      font-size: 18px;
      font-weight: 800;
      color: $gray-dark;
      margin-bottom: 0px;

      time {
        color: $gray-dark;
      }
    }

    .quick-facts,
    .media-contact {
      h2 {
        margin-top: 0;
      }
    }
  }
}
