.FooterTopSections {
    padding-top: 25px;
    padding-left: 5%;
}

.FooterBottomSections {
    padding-left: 5%;
    padding-bottom: 35px;
}

.FooterSocialIcon {
    font-size: 20px;
    position: relative;
    top: 7px;
    left: 7px;
}

.FooterSocialProfileBox{
    display: inline-block;
    height: 40px;
    width: 40px;
    border: solid 3px #dbdbd9;
    border-radius: 50%;
    position: relative;
    /*left: 10px;*/
    top: -8px;  
}

.LinkedIn {
    color: #0077b5;
    font-size: 22px !important;
    padding-left: 1px;
}

.Facebook {
    color: #3b5998;
    font-size: 22px !important;
    padding-left: 3px;
}

.fa.fa-facebook.SocialIcon {
    color: #3b5998;
    padding-left: 3px;
}

.FooterTitle {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #000000;
    padding-top: 15px;
}

.FooterTitleBottom {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #000000;
}

.FooterLinks {
    list-style-type: none;
    line-height: 35px;
    /* font-family: Arial; */
    font-size: 15px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #000000;
    position: relative;
    left: -13px;
}

.SyncAddress{
    /* font-family: Arial; */
    font-size: 15px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #000000;
}

.FooterEmail {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
}

.ContactButton {
    background: #fff;
    border: solid 3px #F0F0F0;
    position: relative;
    top: 15px;
    font-size: 12px;
    color: #333;
    line-height: 0;
    font-weight: bold;
    padding: 12px 12px 0px 15px;
}

.ContactButton:hover {
    background: #f5f5f5;
}


.FooterRightIcon {
    color:#FC5246;;
    font-size: 10px;
}

.FooterRight{
    display: inline-block;
    position: relative;
    top: 8px;
    right: 65px;
    text-align: right !important;
    float: right;
}

.FooterLeft h4 {
    font-family: proxima_nova_altbold;

}

.Supergeekpower {
    position: relative;
    left: -11px;
}

.fa.fa-angle-up.GoToTheTop {
    position: relative;
    top: 7px;
}

.FooterLeft p {
    font-size: 13px;
    padding-bottom: 10px;
    opacity: 1;
}


.TranslatePH {
    height: 43px;
    width: auto;
    position: relative;
    top: -6px;
}

.MailchimpForm {
    background: #fbfbfb !important;
    box-shadow: inset 0 1px 3px 0 rgba(177, 177, 177, 0.5) !important;
}

.MailChimpButon {
    background: #FC5246;
    border: 0;
    padding: 9.5px 20px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
}

.MailchimpForm::placeholder {
  font-family: Arial !important;
  font-size: 13px !important;
  letter-spacing: 0.6px !important;
  color: #868686 !important;
}

.goog-te-gadget-simple {
    width: 300px !important;
    background: #fbfbfb;
    box-shadow: inset 0 1px 3px 0 rgba(177, 177, 177, 0) !important;
    border: 0 !important;
    height: 60px !important;
    background-image: url("/wp-content/themes/genesis-sample/assets/img/translate-background.png") !important;
    background-repeat: no-repeat;
    background-size: 100%;
}

.goog-te-gadget-icon {
    display: none;
}

.GoogleIconTranslate {
    width: 27px;
    position: relative;
    top: -32px;
    left: 5px;
}

.goog-te-menu-value {
    position: relative;
    left: 36px;
    top: 10px;
}

.goog-te-menu-value span {
    border: 0 !important;
    display: none;
}

.GoogleTranslateText {
    display: inline-block;
    position: relative;
    top: -30px;
    left: 11px;
}

.icon-chevron-down.GoogleTranslateArrow {
    position: relative;
    left: 98px;
    top: -30px;
    font-size: 10px;
    color: #2194D5;
}

.OtherFooter {
    background: #f4f4f2;
}

.Terms {
    position: relative;
    top: -21px;
    font-size: 10px;
    padding-left: 15px;
}

.Terms a {
    text-decoration: underline;
}