.um {
    opacity: 1 !important;
}

.hideContent {
    display: none;
}

#wpadminbar{
    z-index: 10000;
}

body {
    background: #f4f4f2;
}

/* General Style */

.main-search input[type="text"] {
    font-size: 11px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-family: !Arial important;
    text-align: left;
    font-weight: normal;
    color: #474747;
}

.FindLocation::placeholder {
    color: black;
}

.ResultsName {
    font-size: 12px !important;
}

#page-content {
    border-bottom: 0px;
    padding: 0;
}


.items-list {
    background-color: #eef6ff;
}


.FormBack,.NGOFormBack {
	    background-color: #ffffff;
        border-bottom: solid 2px #9e9e9ecc;
        border-left: solid .5px #9e9e9ecc;
        border-right: solid .5px #9e9e9ecc;
    }

.SearchButtonActive,.SearchButton {
        z-index: 100;
        width: 97px;
	    height: 41px;
        margin: 0;
        border: 0;
        border-left: solid .5px #9e9e9ecc;
        border-right: solid .5px #9e9e9ecc;
    }

.SearchButton {
        background-color: #ececec;
        position: relative;
        left: 2px;
    }

.NGOSearchButtonActive,.NGOSearchButton {
        z-index: 100;
        width: 97px;
	    height: 41px;
        margin: 0;
        border: 0;
        border-left: solid .5px #9e9e9ecc;
        border-right: solid .5px #9e9e9ecc;
    }

.NGOSearchButton {
        background-color: #ececec;
        position: relative;
        right: 2px;
    }

.items-list.mCustomScrollbar._mCS_1.mCS_no_scrollbar {
        /*padding: 5px;*/
    }


.LocationSearch {
    position: relative;
    top:-4px;
    height: 26px;
    padding-top:0px;
	border-radius: 8px !important;
	border: solid 1px #979797;
}    
    
.FindLocation {
    font-size: 12px !important;
    background: #fff !important;
    box-shadow: none !important;
    height: 26px;
    padding-top:0px;
	border-radius: 8px !important;
	border: solid 1px #979797;
}


.SelectUniversity {
    position: relative;
    top: -25px !important;
    padding-top:0px;
	border-radius: 8px !important;
	border: solid 1px #979797;
}

.SelectUniversityBox {
    padding-left: 28px; 
    width: 0 !important;
    font-size: 12px !important;
    box-shadow: none !important;
}

.btn.dropdown-toggle.selectpicker.btn-default {
    /* height: 25px;
    line-height: 10px; */
    font-size: 10px;
}

.SelectFocusBox .bootstrap-select.btn-group .dropdown-menu {
    width: 50% !important;
}

.dropdown-menu {
    border: 0 !important;
    font-size: 12px;
    margin: 0px !important;
}


.UserIcon {
    position: relative;
    top:-2px;
    padding: 0 0 0 10px !important;
    width: 8px !important;
    height: 1px !important;
    color: #4095FA;
    background-color: #fff!important;
}

.icon-graduation-hat.Titleicon {
    font-size: 15px;
}


.FormColum2 {
    position: relative;
    height: 32px;
}


.SelectFocus {
    position: relative;
    top: -25px !important;
    padding-top:0px;
	border-radius: 8px !important;
	border: solid 1px #979797;
}


.SelectFocusBox {
        padding-left: 28px; 
        width: 0 !important;
        font-size: 12px !important;
        box-shadow: none !important;
}


.FormLastOption {
    display: inline;
    position: relative;
}


.SelectCommitment {
    position: relative;
    top: -27px !important;
    padding-top:0px;
	border-radius: 8px !important;
	border: solid 1px #979797;
}


.FormLastOption .btn.dropdown-toggle.selectpicker.btn-default {
    font-size: 10px;
}  


.btn-group.bootstrap-select.SelectUniversityBox.form-control, .btn-group.bootstrap-select.SelectFocusBox.form-control, .btn-group.bootstrap-select.SelectCommitmentBox.form-control {
    background: transparent;
}


.StudentSearchButton {
    display: inline-block !important;
    position: relative;
}

.NGOStudentSearchButton {
    display: inline !important;
    position: relative;
}


.buttons.pull-right, .infobox .inner .image .item-specific {
	display: none;
}

.synchronize {
    font-family: proxima_nova_altbold;
    font-size: 29px;
    font-weight: bold;
    text-align: left;
    color: #141720;
    padding-left: 49px;
    padding-top: 7px;
}

.synchronizefooter {
	font-family: proxima_nova_altbold;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	color: #141720;
}

.MenuItem {
  font-family: Arial !important;
  font-size: 14px !important;
  letter-spacing: 0.5px !important;
  text-align: left !important;
  color: #5d5f65 !important;
}

.MenuItem {
    padding-right: 20px;
}

.user-area.about-our-mission-co.SyncMenu {
    position: relative;
    top: 5px;
}

.about-our-mission-co .text-style-1 {
	font-weight: bold;
}

.clearfix {
    margin: 0px !important;
}



.SearchButtonActive{
    background-color: #ffffff;
}

.NGOSearchButtonActive{
    background-color: #ffffff;
}

.student {
	/* font-family: Arial; */
	font-size: 12px;
	font-weight: bold;
	color: #4a90e2;
}

.student p,.ngo p {
    padding-top: 10px;
}

.ngo {
	/* font-family: Arial; */
	font-size: 12px;
	font-weight: bold;
	color: #979797;
}

.NGOstudent {
	/* font-family: Arial; */
	font-size: 12px;
	font-weight: bold;
    color: #979797;
}

.NGOstudent p,.NGOngo p {
    padding-top: 10px;
}

.NGOngo {
	/* font-family: Arial; */
	font-size: 12px;
	font-weight: bold;
	color: #4a90e2;
}



.StudentLocationSearch{
    width: auto;
    padding-left: 22px;
}

.SearchTitles {
	/* font-family: Arial; */
	font-size: 11px ;
	font-weight: bold;
	text-align: left;
	color: #000000;
    display: inline;
}

.WhereLooking {
    padding: 11px 0 0 1px;
}




.FindIcon {
    display:table-cell;
    padding: 0 0 0 10px !important;
    width: 8px !important;
    height: 1px !important;
    color: #4095FA;
    background-color: transparent!important;
}




::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    display: inline-block !important;
    width: 136px;
	height: 12px;
	/* font-family: Arial; */
	font-size: 11px;
	text-align: left;
	color: #979797 !important;
}
::-moz-placeholder { /* Firefox 19+ */
    display: inline-block !important;
    width: 136px;
	height: 12px;
	/* font-family: Arial; */
	font-size: 11px;
	text-align: left;
	color: #979797 !important;
}
::-ms-input-placeholder { /* IE 10+ */  
    display: inline-block !important;
    width: 136px;
	height: 12px;
	/* font-family: Arial; */
	font-size: 11px;
	text-align: left;
	color: #979797 !important;
}
::-moz-placeholder { /* Firefox 18- */
    display: inline-block !important;
    width: 136px;
	height: 12px;
	/* font-family: Arial; */
	font-size: 11px;
	text-align: left;
	color: #979797 !important;
}






.btn {
    margin: 0px;
    border-radius: 8px !important;
    border: 0 !important;
    background: #fff;
}



.dropdown-menu.open.animation-fade-in {
    position: absolute;
    top: 30px;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

.bootstrap-select .dropdown-menu > li a {
    border-top: 1px solid white;
    display: block;
    /* font-family: Arial; */
	font-size: 10.5px;
	/*line-height: 1;*/
	text-align: left;
	color: #445870;
}

.bootstrap-select .dropdown-menu li a:hover {
    background-color: #f6f7f9;
    font-weight: bold;
	/* font-family: Arial; */
	font-size: 10.5px;
	line-height: 1.29;
	text-align: left;
	color: #445870;
    cursor: pointer;
}

.bootstrap-select .dropdown-menu li.selected a {
    background: #f6f7f9;
}

.bootstrap-select .dropdown-menu li.selected a:hover {
    background: #f6f7f9;
}


.TheFocus {
    padding-bottom: 4px;
}



.KeyIcon {
    position: relative;
    top:-2px;
    left:5px;
    padding: 0 0 0 10px !important;
    width: 8px !important;
    height: 1px !important;
    color: #4095FA;
    background-color: #fff!important;
}



.TheCommitment {
    padding-bottom: 0px;
}



.SelectCommitmentBox {
    padding-left: 28px; 
    width: 0 !important;
    font-size: 12px !important;
    box-shadow: none !important;
}

.ClockIcon {
    position: relative;
    top:-4px;
    left: 4px;
    padding: 0 0 0 10px !important;
    width: 8px !important;
    height: 1px !important;
    color: #4095FA;
    background-color: #fff!important;
}




.FormSearchButton { 
    background: #4a90e2;
    text-decoration: none;
    border: 0px;
    color: #fff;
}

.FormSearchButton p {
    line-height: 1px;
    /* font-family: Arial; */
    font-weight: 300 !important;
	font-size: 10px;
	text-align: center;
    padding: 15px 34px 5px 34px;
}

.Titleicon {
    color: #999;
    padding-right: 5px;
    font-size: 15px;
}

.map-marker .icon {
    border: 3px solid #36b6ff !important;
}

.map-marker:hover {
    background-color: #36b6ff !important;
}

.MapIcon {
    position: relative;
    top: 3px;
    padding: 0px;
    color: #333;
    font-size: 12px;
    text-align: center;
    margin: auto;
    width: 50%;
}

.StudentUniversity {
    display:inline;
    padding-left: 2px;
    font-family: Raleway;
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 0.5px;
	text-align: left;
	color: #5d5f65 !important;;
}

.StudentName {
    padding-left: 20px;
    padding-right: 20px;
}

.StudentLocation {
    display: inline;
    font-family: Raleway;
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 0.5px;
	text-align: left;
	color: #5d5f65 !important;;
}

.StudentType {
    font-family: Raleway;
	font-size: 9px;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-align: left;
	color: #5d5f65 !important;
}

.infobox .inner {
    border-bottom: 23px solid #36b6ff;
}

.infobox .inner .image .description .meta {
    bottom: -42px;
    padding: 21px 0 10px 10px;
}

.infobox .inner .image .price {
    left: 0px !important;
    padding: 3px 12px !important;
    top: -8px !important;
    background-color: #36b6ff;
}

.map-marker:hover::before {
    border-color: #36b6ff transparent transparent transparent;
}

.marker-active .map-marker::before {
    border-color: #36b6ff transparent transparent transparent;
}
.map-marker:hover::before {
    border-color: #36b6ff transparent transparent transparent;
}

.marker-active .map-marker,.modal-window .modal-wrapper .modal-body .gallery .image .price {
    background: #36b6ff;
}

.infobox .inner .image .overlay .wrapper hr {
    border-color: #36b6ff;
}

.cluster > div::before, .marker-cluster > div::before {
    border: 4px solid #36b6ff;
}

.infobox .inner .image .overlay .wrapper a:hover {
    color: #36b6ff;
}

.infobox .inner .image .description .meta i {
    color: #36b6ff;
}

.IconMapBox {
    position: relative !important;
    right: 3px !important;
    color: #9A9A9A !important;
}

.UserType{
    position: relative;
    top: -19px;
    right: 5px;
    display: inline;
    padding: 0;
    float: right;
    text-transform: uppercase;
    font-family: Raleway;
	font-size: 8px;
	font-weight: 300;
	letter-spacing: 0.5px;
	text-align: center;
	color: #5d5f65;
}


#PageFooter {
    background: #fff;
    /*height: 515px;*/
    /*width: 100%;*/
    
}


.CopyTerms {
    font-size: 10px !important;
    position: relative;
    top: -15px;
    left: 10px;
}

.CopyTerms a {
    text-decoration: underline;
}


.GoToTheTop {
    font-size: 40px;
}

.FooterLine {
    background: #666 !important;
    margin: 0;
    
}

.SearchButton:hover,.NGOSearchButton:hover {
    background: #fcfcfc;
    color: #4a90e2;
    font-weight: bold;
}

.item .wrapper {
    padding: 20px 10px 10px !important;
}

button.NGOSearchButton {
    position: relative;
    left: .1px;
}

.sub-header .breadcrumb-wrapper .redefine-search .inner .icon {
    background: #fff;
}

.sub-header .breadcrumb-wrapper .redefine-search .inner .icon::before, .sub-header .breadcrumb-wrapper .redefine-search .inner .icon::after {
    color: #FC5246;
}

.UserNameProfile {
    text-transform: uppercase;
}


.ProfileIcons {
    color: #FC5246;
    padding-right: 10px;
}

.ProfileFields {
    padding-top: 10px;
    color:#000;
    /* padding-left: 20px; */
}



.WhatIDoText {
    font-family: Arial !important;
	font-size: 14px !important;
	line-height: 1.5 !important;
	letter-spacing: 0.5px !important;
	text-align: left !important;
	color: #000 !important;
}


.AchivementsText {
    line-height: 1.5;
    /* font-family: Arial; */
	font-size: 14px;
	letter-spacing: 0.5px;
	text-align: left;
	color: #000;
    padding-top: 2px;
}

.ProfileBoldedFields {
    /* font-family: Arial; */
	font-size: 14px;
	text-align: left;
	color: #000000;
}

.ProfileContainer{
    padding-left: 10%;
}


.SocialProfileBox{
    height: 40px;
    width: 40px;
    border: solid 3px #dbdbd9;
    border-radius: 50%;
}

.SocialIcon {
    font-size: 22px;
    position: relative;
    top: 7px;
    left: 7px;
}

.fa.fa-linkedin-square.SocialIcon {
    color: #0077b5;
}

header .nav-pills li.active a {
    border-bottom: 2px solid #71aff7 !important;
}

.dopbownicons {
    padding-right: 5px;
}

.btn.dropdown-toggle.selectpicker.btn-default .dopbownicons {
    color: #8d8d8d;
}

.item .info .type i {
    opacity: 1;
}

..item .info .type span {
    opacity: 1;
}

.TypeIcon {
    color: #5d5f65;
}

.TypeName {
    /* font-family: Arial; */
	font-size: 12px;
	letter-spacing: 0.6px;
	text-align: center;
	color: #5d5f65;
}

.bootstrap-select .selectpicker {
    /* font-family: Arial; */
	font-size: 11px;
	text-align: left;
	color: #979797;
}

.NGODivider {
    border-color: #979797;
    width: 168%;
    position: relative;
    left: -25%;
}

.BusinessName {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: left;
    color: #484848;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    left: -14%;
}

/*.businessinfo {
    position: relative;
    left: -15%;
}  */  

.BusinessImage {
    height: 220px;
    padding-left: 0px;
}

.BusinessMap {
    float: right;
}

.MapAndInfo {
    width: 150%;
    position: relative;
    left: -13%;
    min-height: 219px;
}

.BusinessContainers {
    width: 130%;
}

.BusinessComunOne{
    display: inline-block;
    vertical-align: top;
    width: 310px;
    /* font-family: Arial; */
	font-size: 14px;
	line-height: 2.07;
	letter-spacing: 0.6px;
	text-align: left;
	color: #484848;
}
.BusinessComunTwo {
    display: inline-block;
    vertical-align: top;
    width: 310px;
	/* font-family: Arial; */
	font-size: 14px;
	letter-spacing: 0.3px;
	text-align: left;
	color: #484848;
}

.BusinessComunThree{
    display: inline-block;
    float: right;
    vertical-align: top;
    width: 310px;
    /* font-family: Arial; */
	font-size: 14px;
	letter-spacing: 0.3px;
	text-align: left;
	color: #484848;
}

.BusinessContainers {
    padding-top: 30px;
}

.BusinessSocial {
    display: inline-block;
    position: relative;
    left: 7px;
}

.BusinessSocialPrincipal{
    display: inline-block;
}

.BusinessComunOne .ProfileFields {
    padding-right: 60px;
}

.BusinessComunFour {
    padding-bottom: 110px;
    display: block;
    position: relative;
    top: 50px;
}

.BusinessInformation{
    font-family: Montserrat !important;
	font-size: 15px !important;
	font-weight: bold !important;
	letter-spacing: 0.5px !important;
	text-align: left !important;
	color: #484848 !important;
}

.LoginLinks {
    position: relative;
    top: 66px;
}

.LoginLinks ul{
    line-height: 30px;
    display: inline-block;
    list-style-type: none;
    position: relative;
    top: -35px;
}

.LoginLinks a {
  /* font-family: Arial; */
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #FC5246;
}

.LoginLinks a:hover {
    text-decoration: underline;
    color: #428bca;
}

.SignInButton:hover {
    background: #428bca  !important;
}

#wp-submit1 {
    border-radius: 0 !important;
    position: relative !important;
    top: 38px !important;
    font-family: Arial !important;
    font-size: 12px !important;
    font-weight: bold !important;
    letter-spacing: 0.4px !important;
    text-align: left;
    background: #FC5246 !important;
    padding: 12px 25px !important;
    border: 0px;
    color: #fff;
}

.widgettitle,.tml-rememberme-wrap,.tml-action-links,.entry-title {
    display: none !important;
}

.SyncLoginForm .tml label {
    color: black;
}

.SyncLoginForm label {
    margin-bottom: 0px;
}

.SyncLoginForm .tml-user-login-wrap {
    margin-bottom: 13px !important;
}

.SyncLoginForm #loginform1 {
    height: 217px;
}

.SyncLoginForm input[type="text"], input[type="date"], input[type="email"], input[type="search"], input[type="password"], input[type="number"], input[type="tel"], textarea.form-control {
    width: 108% !important;
}

.SyncLoginForm .tml-submit-wrap {
    width: 108%;
    display: inline-block !important;
}

.RecoverPssword .message {
    display: none;
}

.post-edit-link {
    display: none;
}
.RecoverPssword #wp-submit {
    border-radius: 0 !important;
    font-family: Arial !important;
    font-size: 12px !important;
    letter-spacing: 0.4px !important;
    text-align: left !important;
    background: #FC5246 !important;
    padding: 12px 25px !important;
    border: 0px;
    color: #fff;
}

.GoBackLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.SearchButton,.NGOSearchButton {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.items-list .inner .results li .item:hover h3 {
    color: #428bca;
}

.NGOSearchButtonActive:hover {
    color: #428bca !important;
}

a:hover {
    color: #428bca !important;
}

.SyncCaptcha {
    height: 10px !important;
}

.grecaptcha-badge {
    display: none;
}

#ReCaptcha {
    height: 50px;
    position: relative;
    top: -60px;
    left: -5px;
}

.icon-graduation-hat.MapIcon {
    font-size: 15px !important;

}
.LoginLinks {
    position: relative;
    top: -23px;
    left: -13px;
}

.EditProfile button {
    background-color: red;
    background-color: #ff513f;
    border: 0;
    padding: 10px 20px;
    color: #fff;
    /* font-family: Arial; */
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: left;
}

.EditProfile {
    float: right;
    position: relative;
    top: -26px;
    left: 25%;
}

.AboutUsText h3 {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #ffffff;
}

.AboutUsText p {
    font-size: 15px;
    letter-spacing: 0.6px;
    color: #ffffff;
}

.StorySection {
        background-color: #ffffff;
}

.OurStoryText h3 {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #333;
}

.OurStoryText p {
    font-size: 15px;
    letter-spacing: 0.6px;
    color: #333;
}

.TeamTitle {
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #000000;
}


.fa.fa-linkedin-square.Linkedin {
    color: #0077b5;
    font-size: 18px !important;
    padding-left: 1px;
}

.TeamTitle.AdvisorsTitle {
    position: relative;
    top: -30px;
}


.row.AdvisorProfiles {
    width: 76%;
    margin: auto;
}

.row.AdvisorProfiles figure {
    height: 35px;
}

.col-md-3.col-sm-3.ProfileTeams.Advisors figure {
    height: 35px;
}

.advisors.block {
    position: relative;
    top: -90px;
}
.TestimonialName {
    color: #333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: left;
}

blockquote .description footer {
    color: #333 !important;
    font-weight: normal !important;
}

.TestimonialCompany {
    color: #ff513f;
}

#testimonials {
    padding: 0;
}

.TestimonialText {
    font-family: Georgia !important;
    font-size: 21px !important;
    font-weight: normal;
    font-style: italic !important;
    font-stretch: normal;
    letter-spacing: 0.7px;
    color: #7e7e7e;
    opacity: 1;
}


.GetStartedAbout {
    background-color: #fff;
}

/* Without description 
.StartTittles h3 {
    padding: 16px 0 6px 15px;
    margin: 0;
    font-family: Arial;
    font-size: 13px;
    letter-spacing: normal;
    color: #323332;
} */

.StartTittles h3 {
    margin-top: 15px;
    font-family: Arial;
    font-size: 18px;
    letter-spacing: normal;
    /*color: #f6f6f6;*/
    text-align: center;
}

.StartedButtons:hover {
    color: #c2c2c2 !important;
}

.StartedButtons {
    color: #f6f6f6;
}

.StartTittleONE:hover {
    /*background: #d51c10cc;*/
}

.StartTittles p {
    padding: 0 5px 0 15px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #323332;
}

.GetStartedAbout {
    border-bottom: solid 1px #979797;
    padding-top: 55px;
    padding-bottom: 128px;
}

.GetStartedAbout .TeamTitle {
    padding-bottom: 65px;
}

.SupportEmail {
    color: #333 !important;
}

.SocialContactPage {
    position: relative;
    top: 20px;
}

.FooterSocialProfileBox.ContactSocialSeparator {
    position: relative;
    left: 19px;
}

.SocialContactPage .FooterSocialProfileBox {
    position: relative;
    top: 0px;
}

.ContactInformation div {
    padding-bottom: 5px;
}

.ContactInformation a {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #484848;
}

.ContactHeaders {
    padding-bottom: 15px;
}

.ReadMoreLink {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: left;
  color: #000000;
}

#contact-form {
    width: 70%;
    margin: auto;
    margin-bottom: 75px;
}

#company-form-email {
    width: 96% !important;
}

#company-form-message {
    width: 98% !important;
}

.btn.btn-default.icon.ContactButton {
    border-radius: 0% !important;
    padding: 10px 25px !important;
}

.ContactMapImage {
    height: 202px;
    width: 100%;
}

.StartTittleONE img, .StartTittleTWO img, .StartTittleTRHEE img {
    width: 100%;
}

/*.col-md-4.col-sm-4.ContactInformation {
    position: relative;
    top: 55px;
}*/

#map-simple {
    min-height: 202px;
}

.icon-map-marker.MapMark {
    font-size: 51px;
    color: #FC5246;
    position: relative;
}

.SignUpTittleContainer {
    padding: 55px 0px 18px 140px;
}

.SignUpTittle {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.5px;
    color: #484848;
    opacity: 1;
}

.DirectionsButtons {
    border-bottom: solid 1.5px #97979733;
    width: 37%;
    position: relative;
    left: 139px;
    top: 8px;
}

.SignUpSearchButton {
    background: #fff;
    border: 0;
    padding: 15px 25px 2px 25px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    color: #ff513f;
}

.SignUpNGOSearchButton {
    background: #ececec;
    border: 0;
    padding: 15px 25px 2px 25px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    color: #979797;
    position: relative;
    left: 5px;
}

.SignUpNGOSearchButton:hover {
    color: #ff513f;
    background: #fff;
}

.SignUpForm .um-center {
    padding-left: 184px;
}

.um-183.um input[type="submit"].um-button, .um-183.um input[type="submit"].um-button:focus, .um-183.um a.um-button, .um-183.um a.um-button.um-disabled:hover, .um-183.um a.um-button.um-disabled:focus, .um-183.um a.um-button.um-disabled:active {
    background: #ff513f !important;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold !important;
    line-height: normal !important;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    border: 0 !important;
    border-radius: 0 !important;
}

.um-210.um input[type="submit"].um-button, .um-210.um input[type="submit"].um-button:focus, .um-210.um a.um-button, .um-210.um a.um-button.um-disabled:hover, .um-210.um a.um-button.um-disabled:focus, .um-210.um a.um-button.um-disabled:active {
    background: #ff513f !important;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold !important;
    line-height: normal !important;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    border: 0 !important;
    border-radius: 0 !important;
}

.NewsLetterCheckbox {
    width: 135px;
    position: relative;
    top: -63px;
    left: 400px;
    font-family: Arial;
    font-size: 14px;
    color: #000000;
}

.block.LegalNotes {
    padding-top: 0px;
    position: relative;
    top: -60px;
}

.StudentSignUp .bootstrap-select .selectpicker .caret::after {
    color: #ff513f !important;
}

.icon-bottle .text,.icon-bag .text,.icon-glass2 .text,.icon-dinner .text {
    padding-left: 10px;
}

.um-dropdown {
    opacity: 1;
}
    

.MenuSignUpIcon {
    font-size: 10px !important;
    font-weight: 900;
}

.dropbtn.LogInButtons.Signupheader {
    padding-left: 16px !important;
}

.ProfilePicture {
    width: 117%;
    position: relative;
    left: -23px;
}

.TypeName {
    text-transform: initial !important;
}

.NGOSigunBUttonActive {
    background: #fff;
    color: #ff513f;
}

.NGOSigunBUttonIdle {
    background: #ECECEC;
    color: #979797;
}

.NGOSigunBUttonIdle:hover {
    background: #fff;
    color: #ff513f;
}

.nav.nav-pills {
    position: relative;
    left: -2.5%;
}


.FAQTittle{
      font-family: Montserrat;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.7px;
      color: #5d5f65;
      padding: 28px 0px;
}

.FAQContainer {
    width: 75%;
    margin: auto;
}

.QuestionTille {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #5d5f65;
}

.QuestionText {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #868686;
    padding: 10px 0px;
}

.QuestionText a {
    text-decoration: underline;
    color: #868686;
}


.FaqBoxLeft {
    padding-top: 22px;
}


.FindAnswerIcon {
    font-size: 36px;
}

.FindAnswer {
    font-family: Montserrat;
    font-size: 24px;
    letter-spacing: 0.9px;
    color: #474747;
    opacity: 1;
    position: relative;
    top: -6px;
    left: 9px;
}


.FindAnswerContainer {
    text-align: center;
}

.FAQButton {
    width: 112.3px;
    height: 39px;
    background: #ff513f;
    border:0;
    font-family: Arial;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.FAQSection {
    padding-bottom: 30px;
}

#PrivacyTerms p {
    opacity: 1 !important;
}

#PrivacyTerms hr {
    border-color: #000 !important;
}

.RequiredText {
    width: 73%;
    margin: auto;
    position: relative;
    text-align: right;
    top: -8px;
    font-size: 12px;
}

.ProfilePicture .um-profile-photo-overlay {
    display: none;
}

.um-profile-photo.um-trigger-menu-on-click {
    display: none;
}

.um-profile-edit.um-profile-headericon.um-trigger-menu-on-click, .um-profile-edit um-profile-headericon, .um-profile-edit.um-profile-headericon {
    display: none !important;
}

.um-header {
    min-height: 0px !important;
}

.um-header.no-cover {
    display: none !important;
}

.BackProfile {
    width: 115px;
    text-align: center;
    margin: auto;
    position: relative;
    top: -49px;
}

.BackProfileButton {
    background: #999;
    border: 0;
    border-radius: 5%;
    font-size: 12px;
    color: #f6f6f6;
    padding: 9px 18px;
}

.BackProfileButton:hover {
    background: #999999e6;
}

.ProfileEditTitle {
    width: 74%;
    margin: auto;
}

.ProfileEditTitle h2 {
    margin-bottom: 0;
    margin-top: 25px;
}

#StartTittles h3:hover {
    color: #323332b3;
}

.SyncLogoFooter {
    width: 200px;
}

.dropbtn.ProfileButtons.Loginheader {
    font-size: 12px;
    height: 0;
    padding:0;
    color: #3BA1DA;
    background: transparent;
    border: 0;
    font-weight: bold;
}

.dropbtn.ProfileButtons.Loginheader:hover {
    color: black;
    border: 0;
}

.dropbtn.AccountButtons.Signupheader {
    font-size: 12px;
    height: 0;
    padding:0;
    color: #333;
    background: transparent;
    border: 0;
    padding-right: 35px;
}

.dropdown-content.DropDownUserAccount {
    left: -18px !important;
    min-width: 125px;
}

.BusinessLogoImg {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-right: 20px;
}

.BusinessMapSection {
    display: inline-block;
    width: 62%;
    height: auto;
    vertical-align: top;
}

#testimonials {
    border-bottom: 1px solid #1e1e1e33;
}

.ajax-upload-dragdrop .upload {
    background: #3d98b6;
}

.um-modal-btn.um-finish-upload.image {
    background: #357dce;
}

.map-profile {
    height: 219px;
}

.um-account-meta-img {
    display: none;
}

.HomeHeader{
    background-color:#f7f7f7;
    background-image: url("/wp-content/themes/genesis-sample/assets/img/subheader-image.jpeg");
    background-size: cover;
    background-position: center;
    color:aliceblue;
    
    height: 500px;
}

.HomeSubheader{
    height: 275px;
    background-color: #f4f4f2;
}

.StudentsProfilesSection {
    background-color: #ffffff;
    color:aliceblue;
}

.StudentsProfilesSection h3{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #323332;
    margin-top: 55px;
    margin-bottom: 25px;
}

.OrganizersProfilesSection {
    background-color: #f4f4f2;
}

.OrganizersProfilesSection h3{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #323332;
    margin-top: 55px;
    margin-bottom: 25px;
}


.TestimonialsSection .owl-controls {
    display: none;
}

.WelcomeTitle {
    position: relative;
    top:15px;
    background: rgba(0, 0, 0, 0.5);
    width: 650px;
    margin: auto;
    margin-bottom: 35px;
}

.WelcomeTitle p {
    font-family: Montserrat;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    padding: 4px 0;
}

.LookingFor{
    position: relative;
    top:5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    width: 405px;
    margin: auto;
    margin-bottom: 20px;
}

.LookingFor p {
    font-family: Montserrat;
    font-size: 21px;
    letter-spacing: 1px;
    text-align: center;
    color: #333;
    padding: 4px 0;
}

.NavigationButtonsHome{
    text-align: center;
    margin: auto;
}

.NavigationButtonsHome .Student, .NavigationButtonsHome .Organizer {
    width: 144px;
    height: 46px;
    border: 1px solid #fff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.NavigationButtonsHome .Student {
    background: rgba(255, 81, 63, 0.8)
}
.NavigationButtonsHome .Student:hover {
    background: rgba(255, 81, 63, 0.9);
}

.NavigationButtonsHome .Organizer {
    background: rgba(0, 0, 0, 0.5)
}
.NavigationButtonsHome .Organizer:hover {
    background: rgba(0, 0, 0, 0.7)
}

.WelcomeSection {

    position: relative;
    top: 25%;

}

.carousel-inner.SliderHome{
    position: relative;
    overflow: hidden;
    width: 89%;
    margin: auto;
}

.left.carousel-control.SliderHome,.right.carousel-control.SliderHome {
    background: none;
}

.item.SliderHome {
    background: none;
    box-shadow:none;
}

.HomeSliderBox{
    width: 85%;
    margin: auto;
}

.HomeProfileBox{
    width: 28%;
    vertical-align: top;
    margin: 0px 21px;
    border: solid 1px #c7c7c74d;
    display: inline-block;
}

.ProfileDescription {
    text-align: center;
}

.ProfileDescription h3 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #5d5f65;
    margin: 21px 0 12px;
}

.ProfileDescription p {
    font-family: Arial;
    font-size: 11px;
    letter-spacing: 0.6px;
    color: #000;
    line-height: 4px;
    opacity: 0.6;
}

.ProfileDescription hr {
    display: none;
}

.ProfileType {
    font-family: Arial;
    font-size: 9px;
    color: #5d5f65;
    position: relative;
    margin-top: 20px;
    margin-bottom: 12px;
    letter-spacing: 0.6px;
    text-align: center;
    opacity: 0.5;
}

.SliderIcons {
    font-size:45px;
    color: #000;
    position: relative;
    top:37%;
}

.MoreListings{
    width: 170px;
    height: 45px;
    background-color: #ff513f;
    border: 0;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #ffffff;
    position: relative;
    top: -15px;
    margin-bottom: 35px;
}

.FetureBoxes {
    width: 80%;
    margin: auto;
    position: relative;
    top: 50px;
}

.FeatureBox {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.FeatureBoxIcon{
    display: inline-block;
    vertical-align: top;
    width: 29%
}

.FeatureBoxDescription{
    display: inline-block;
    vertical-align: top;
    width: 69%
}

.FeatureIcon {
    font-size: 30px;
    border: solid 2px #d8d8d8;
    color: #23B0E7;
    border-radius: 50%;
    padding: 15px;
    position: relative;
    top: 10px;
}

.blur {
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.blur-svg {
    display: none;
}

.NoClickHere {
    cursor: default;
}

.ComingSoonMessage {
    color: #ff513f;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.6px;
    position: relative;
    top: -19px;
}

.um-field.um-field-user_login.um-field-text.um-field-type_text {
    display: none;
}


#LostPasswordField #user_login {
    display: inline !important;
}

i.fa.fa-facebook.FooterSocialIcon.Facebook {
    display: inline !important;
}

.UniversityNameTitle {
    opacity: 1 !important;
}

.infobox .inner .image{
    background: #f7f7f766;
}

#mCSB_1 {
    min-height: 500px;
}
