.meet-team-info-section {
    padding-bottom: 100px !important;
    padding-top: 100px !important;
}
.meet-team-info-section .members-hold.swiper-container {
    overflow: visible;
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .members-hold.swiper-container .txt-size-22 {
        font-size: 18px;
    }
}
@media screen and (max-width: 1024px) {
    .meet-payment-expert-section.inner-pages-landing-section .txt-blocks-content-2 {
        padding-top: 0;
    }
    .meet-payment-expert-section.inner-pages-landing-section .txt-blocks-content-2 .txt-block {
        margin-bottom: 0 !important;
        padding-bottom: 0;
    }
}
@media screen and (min-width: 1025px) {
    .meet-payment-expert-section.inner-pages-landing-section .txt-size-100 {
        font-size: 80px;
    }
    .meet-payment-expert-section.inner-pages-landing-section .landing-video-btn {
        bottom: 65%;
        right: 31%;
        top: unset;
    }
}
.meet-team-info-section {
    background-color: #264db3;
    overflow: hidden;
    padding-top: 50px;
}
@media screen and (max-width: 1024px) {
    .meet-team-info-section {
        padding-bottom: 50px;
    }
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section {
        padding-top: 7.969vw;
    }
}
@media screen and (min-width: 1921px) {
    .meet-team-info-section {
        padding-top: 153px;
    }
}
.meet-team-info-section .member-circle-position-svg {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 64%;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-40deg);
    transform: translate(-50%, -50%) rotate(-40deg);
    width: 64%;
}
.meet-team-info-section .txt-size-100 {
    margin-bottom: 25px;
    position: relative;
    width: 100%;
    z-index: 3;
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .txt-size-100 {
        margin-bottom: 3.646vw;
        max-width: 49.479vw;
    }
}
@media screen and (min-width: 1921px) {
    .meet-team-info-section .txt-size-100 {
        margin-bottom: 70px;
        max-width: 950px;
    }
}
.meet-team-info-section .txt-post-rtf {
    max-width: 1030px;
    position: relative;
    z-index: 3;
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .txt-post-rtf {
        max-width: 53.646vw;
    }
}
@media screen and (min-width: 1921px) {
    .meet-team-info-section .txt-post-rtf {
        max-width: 1030px;
    }
}
.meet-team-info-section .txt-post-rtf .h2,
.meet-team-info-section .txt-post-rtf h2 {
    line-height: 1.25;
    margin-bottom: 6px;
}
@media screen and (max-width: 500px) {
    .meet-team-info-section .txt-post-rtf .h2,
    .meet-team-info-section .txt-post-rtf h2 {
        font-size: 6vw;
    }
}
@media screen and (min-width: 501px) and (max-width: 1024px) {
    .meet-team-info-section .txt-post-rtf .h2,
    .meet-team-info-section .txt-post-rtf h2 {
        font-size: 30px;
    }
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .txt-post-rtf .h2,
    .meet-team-info-section .txt-post-rtf h2 {
        font-size: 1.563vw;
        margin-bottom: 0.313vw;
    }
}
@media screen and (min-width: 1921px) {
    .meet-team-info-section .txt-post-rtf .h2,
    .meet-team-info-section .txt-post-rtf h2 {
        font-size: 30px;
        margin-bottom: 6px;
    }
}
.meet-team-info-section .txt-post-rtf p:not(:last-of-type) {
    margin-bottom: 30px;
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .txt-post-rtf p:not(:last-of-type) {
        margin-bottom: 1.563vw;
    }
}
@media screen and (min-width: 1921px) {
    .meet-team-info-section .txt-post-rtf p:not(:last-of-type) {
        margin-bottom: 30px;
    }
}
.meet-team-info-section .background-flower-path-patterns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    pointer-events: none;
    position: absolute;
    top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    z-index: 1;
}
@media screen and (max-width: 1024px) {
    .meet-team-info-section .background-flower-path-patterns {
        display: none;
    }
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .background-flower-path-patterns {
        height: 45.469vw;
        left: 2.083vw;
        width: 90.938vw;
    }
}
.meet-team-info-section .background-flower-path-svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 100%;
    width: 50%;
}
.meet-team-info-section .background-flower-path-svg path {
    fill: #1b44af;
}
.meet-team-info-section .background-flower-path-svg-smaller {
    position: absolute;
    right: 100%;
    top: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .background-flower-path-svg-smaller {
        height: 18.75vw;
        width: 18.75vw;
    }
}
.meet-team-info-section .background-flower-path-svg-smaller path {
    fill: #1b44af;
}
.meet-team-info-section .members-info-wrap {
    position: relative;
    width: 100%;
    z-index: 2;
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .members-info-wrap {
        height: 67.917vw;
        margin-bottom: -4.375vw;
        margin-left: -0.833vw;
        margin-top: -12.188vw;
        width: 67.917vw;
    }
}
@media screen and (min-width: 1921px) {
    .meet-team-info-section .members-info-wrap {
        height: 1304px;
        margin-bottom: -84px;
        margin-left: -16px;
        margin-top: -234px;
        width: 1304px;
    }
}
.meet-team-info-section .circle-outer {
    height: 260.25%;
    width: 258.7%;
}
.meet-team-info-section .circle-inner,
.meet-team-info-section .circle-outer {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 50%;
    left: 49%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}
.meet-team-info-section .circle-inner {
    height: 166.7%;
    width: 165.7%;
}
.meet-team-info-section .member-block {
    cursor: pointer;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    will-change: transform;
    z-index: 2;
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .member-block {
        position: absolute;
    }
}
.meet-team-info-section .member-block .img-wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
}
.meet-team-info-section .member-block .img-wrap {
    border-radius: 50%;
    position: relative;
}
.meet-team-info-section .member-block .img-wrap .border-element {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #17fcc4;
    border-radius: 50%;
    display: inline-block;
    height: 100%;
    height: 90%;
    left: 0;
    left: 5%;
    position: absolute;
    top: 0;
    top: 5%;
    width: 100%;
    width: 90%;
    z-index: 1;
}
.meet-team-info-section .member-info-img {
    width: 100%;
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .member-txt-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        left: 110%;
        opacity: 0;
        top: -1.042vw;
        width: 21vw;
    }
}
@media screen and (min-width: 1921px) {
    .meet-team-info-section .member-txt-wrap {
        top: -20px;
        width: 365px;
    }
}
.meet-team-info-section .member-txt-wrap .quote-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 47px;
    width: 47px;
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .member-txt-wrap .quote-icon {
        max-width: 2.448vw;
        width: 2.448vw;
    }
}
@media screen and (min-width: 1921px) {
    .meet-team-info-section .member-txt-wrap .quote-icon {
        max-width: 47px;
        width: 47px;
    }
}
.meet-team-info-section .member-txt-wrap .txt-size-22 {
    padding-top: 9px;
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .member-txt-wrap .txt-size-22 {
        padding-left: 0.573vw;
        padding-top: 0.469vw;
    }
}
@media screen and (min-width: 1921px) {
    .meet-team-info-section .member-txt-wrap .txt-size-22 {
        padding-left: 11px;
        padding-top: 9px;
    }
}
@media screen and (max-width: 1024px) {
    .meet-team-info-section .member-name-title-wrap {
        margin-top: 10px;
    }
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .member-name-title-wrap {
        position: absolute;
    }
}
.meet-team-info-section .member-name-title-wrap .member-name {
    margin-bottom: 5px;
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .member-name-title-wrap .member-name {
        margin-bottom: 10px;
    }
}
.meet-team-info-section .member-name-title-wrap .member-position {
    font-size: 16px !important;
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .member-name-title-wrap .member-position {
        margin-left: 2px;
    }
    .meet-team-info-section .member-name-title-wrap {
        width: 9.375vw;
    }
    .meet-team-info-section .member-name-title-wrap .member-name {
        margin-bottom: 0.521vw;
    }
    .meet-team-info-section .member-name-title-wrap .member-position {
        margin-left: 0.104vw;
    }
}
@media screen and (min-width: 1921px) {
    .meet-team-info-section .member-name-title-wrap {
        width: 180px;
    }
    .meet-team-info-section .member-name-title-wrap .member-name {
        margin-bottom: 10px;
    }
    .meet-team-info-section .member-name-title-wrap .member-position {
        margin-left: 2px;
    }
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .member-block {
        height: 9.583vw;
        left: 47.708vw;
        top: 13.802vw;
        width: 9.583vw;
    }
}
@media screen and (min-width: 1921px) {
    .meet-team-info-section .member-block {
        height: 184px;
        left: 916px;
        top: 265px;
        width: 184px;
    }
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .member-block .member-name-title-wrap {
        left: 90%;
        top: 90%;
    }
}
@media screen and (max-width: 1580px){
    .meet-team-info-section .member-block.current-active-block:nth-of-type(3) .member-name-title-wrap {
        top:115%;
    }
}
@media screen and (max-width: 1480px){
    .meet-team-info-section .member-block.current-active-block:nth-of-type(3) .member-name-title-wrap {
        top:140%;
    }
}
@media screen and (max-width: 1380px){
    .meet-team-info-section .member-block.current-active-block:nth-of-type(3) .member-name-title-wrap {
        top:175%;
    }
    .meet-team-info-section .member-block.current-active-block:nth-of-type(4) .member-name-title-wrap {
        top:105%;
    }
}
@media screen and (max-width: 1280px){
    .meet-team-info-section .member-block.current-active-block:nth-of-type(2) .member-name-title-wrap {
        top:120%;
    }
    .meet-team-info-section .member-block.current-active-block:nth-of-type(3) .member-name-title-wrap {
        top:205%;
    }
    .meet-team-info-section .member-block.current-active-block:nth-of-type(4) .member-name-title-wrap {
        top:115%;
    }
}
@media screen and (max-width: 1180px){
    .meet-team-info-section .member-block.current-active-block:nth-of-type(1) .member-name-title-wrap {
        top:125%;
    }
    .meet-team-info-section .member-block.current-active-block:nth-of-type(2) .member-name-title-wrap {
        top:170%;
    }
    .meet-team-info-section .member-block.current-active-block:nth-of-type(3) .member-name-title-wrap {
        top:260%;
    }
    .meet-team-info-section .member-block.current-active-block:nth-of-type(4) .member-name-title-wrap {
        top:190%;
    }
}
.meet-team-info-section .member-block.centered-main .img-wrap {
    border-radius: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.meet-team-info-section .member-block.centered-main canvas {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% + 25px);
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: calc(100% + 25px);
}
@media screen and (max-width: 1024px) {
    .meet-team-info-section .member-block.centered-main {
        margin: 0 auto;
        max-width: 424px;
    }
}
@media screen and (max-width: 500px) {
    .meet-team-info-section .member-block.centered-main {
        height: 84.2vw;
        width: 84.8vw;
    }
}
@media screen and (min-width: 501px) and (max-width: 1024px) {
    .meet-team-info-section .member-block.centered-main {
        height: 21.927vw;
        width: 22.083vw;
    }
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .member-block.centered-main {
        height: 26.094vw;
        left: 50.4%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 26.25vw;
    }
}
@media screen and (min-width: 1921px) {
    .meet-team-info-section .member-block.centered-main {
        height: 501px;
        width: 504px;
    }
}
.meet-team-info-section .swiper-nav {
    bottom: 30px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .swiper-nav {
        display: none;
    }
}
.meet-team-info-section .swiper-nav-svg-arrow {
    width: 75px;
}
.meet-team-info-section .swiper-nav-svg-arrow path {
    fill: #17fcc4;
}
.meet-team-info-section .swiper-prev {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 1;
}
.meet-team-info-section .swiper-next {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 1;
}
@media screen and (max-width: 1024px) {
    .meet-team-info-section .members-hold {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 -25px;
        overflow: visible;
        padding-bottom: 100px;
        padding-top: 40px;
        position: relative;
        z-index: 3;
    }
    .meet-team-info-section .members-hold .member-block {
        max-width: 400px;
        padding: 0 25px;
        width: 90%;
    }
    .meet-team-info-section .members-hold .img-wrap {
        max-width: 200px;
        width: 100%;
    }
}
@media screen and (min-width: 1025px) {
    .meet-team-info-section .members-hold {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 3;
    }
}
