.contact-page {
  background-color: #002ea6;
}
.contact-page strong {
  color: #17fcc4;
}
@media (min-width: 1025px) {
  .contact-page .contacts-hero .h3,
  .contact-page .contacts-hero h3 {
    margin-bottom: 30px;
  }
}
@media (min-width: 1441px) {
  .contact-page .contacts-hero .h3,
  .contact-page .contacts-hero h3 {
    margin-bottom: 40px;
  }
}
.contact-page .txt-content {
  max-width: 525px;
  width: 100%;
}
@media (max-width: 1024px) {
  .contact-page .txt-content {
    padding-right: 40px;
  }
}
@media (min-width: 1025px) {
  .contact-page .txt-content {
    max-width: 27.344vw;
  }
}
@media (min-width: 1921px) {
  .contact-page .txt-content {
    max-width: 525px;
  }
}
.contact-page .team-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 50px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .contact-page .team-images {
    display: none;
  }
}
@media (min-width: 1025px) {
  .contact-page .team-images {
    width: 52.083vw;
  }
}
@media (min-width: 1921px) {
  .contact-page .team-images {
    width: 1000px;
  }
}
.contact-page .team-images .single-team-member {
  display: inline-block;
}
.contact-page .team-images .single-team-member img {
  border-radius: 50%;
}
@media (min-width: 1025px) {
  .contact-page .team-images .single-team-member {
    height: 10.313vw;
    width: 10.313vw;
  }
}
@media (min-width: 1921px) {
  .contact-page .team-images .single-team-member {
    height: 200px;
    width: 200px;
  }
}
.contact-page .mobile-team-images {
  right: 0;
  top: 50px;
  width: 140px;
}
@media (min-width: 1025px) {
  .contact-page .mobile-team-images {
    display: none;
  }
}
.contact-page .mobile-team-images .single-team-member {
  display: inline-block;
  height: 70px;
  width: 70px;
}
.contact-page .mobile-team-images .single-team-member img {
  border-radius: 50%;
}
.contact-page .background-svg-wrap.svg-contact-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (min-width: 1025px) {
  .contact-page .background-svg-wrap.svg-contact-hero {
    height: 65.625vw;
    width: 65.625vw;
  }
}
@media (min-width: 1921px) {
  .contact-page .background-svg-wrap.svg-contact-hero {
    height: 1260px;
    width: 1260px;
  }
}
@media (min-width: 1025px) {
  .contact-page
    .background-svg-wrap.svg-contact-hero
    .background-flower-path-svg {
    height: 32.813vw;
    width: 32.813vw;
  }
}
@media (min-width: 1921px) {
  .contact-page
    .background-svg-wrap.svg-contact-hero
    .background-flower-path-svg {
    height: 630px;
    width: 630px;
  }
}
.contact-page .background-svg-wrap.svg-contact-hero .st0 {
  fill: none;
  stroke-miterlimit: 10;
}
.contact-page .background-svg-wrap.svg-contact-hero .svg-full {
  opacity: 0.1;
}
.contact-page .background-svg-wrap.svg-contact-hero .svg-full .st0 {
  fill: #7f96d2;
}
.contact-page .background-svg-wrap.svg-contact-hero .svg-stroke {
  opacity: 0.2;
}
.contact-page .background-svg-wrap.svg-contact-hero .svg-stroke .st0 {
  stroke: #7f96d2;
}
.contact-page .background-svg-wrap.svg-contact-hero .svg-stroke .st1 {
  fill: #7f96d2;
}
@media (max-width: 1024px) {
  .contact-page .background-svg-wrap.svg-contact-hero {
    display: none;
  }
}
.contact-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 1025px) {
  .contact-tabs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.contact-tabs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .contact-tabs .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.contact-tabs .container .testimonial-content-tab {
  z-index: 2;
}
@media (max-width: 1024px) {
  .contact-tabs .container .testimonial-content-tab {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (min-width: 1025px) {
  .contact-tabs .container .testimonial-content-tab {
    left: 0;
    position: absolute;
    top: 200px;
  }
}
.contact-tabs .container .testimonial-content-tab img {
  max-width: 100px;
}
.contact-tabs .tabs-nav {
  z-index: 3;
}
#tabs {
  font-family: 'Libre Franklin';
}
@media (max-width: 1024px) {
  .contact-tabs .tabs-nav {
    margin-bottom: 40px;
  }
}
.contact-tabs .tabs-nav li {
  background-color: #fff;
  border-bottom: 1px solid #002ea6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .contact-tabs .tabs-nav li {
    width: 350px;
  }
}
@media (min-width: 1441px) {
  .contact-tabs .tabs-nav li {
    width: 425px;
  }
}
.contact-tabs .tabs-nav li:focus,
.contact-tabs .tabs-nav li:hover {
  cursor: pointer;
}
.contact-tabs .tabs-nav li a {
  position:relative;
  background-color: #17fcc4;
  padding: 20px 0 20px 20px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  width: 100%;
}
@media (min-width: 1025px) {
  .contact-tabs .tabs-nav li a {
    padding: 20px 40px 20px 30px;
  }
}
.contact-tabs .tabs-nav li a.inactive {
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.contact-tabs .tabs-nav li a span {
  position:absolute;
  right:20px;
  font-family: 'Red Hat Display';
  -webkit-transition: padding-right 0.3s ease;
  transition: padding-right 0.3s ease;
}
.contact-tabs .tabs-nav li a:focus span,
.contact-tabs .tabs-nav li a:hover span {
  padding-right: 10px;
  -webkit-transition: padding-right 0.3s ease;
  transition: padding-right 0.3s ease;
}
.contact-tabs .user-testimonial {
  background-color: #f2f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
}
@media (min-width: 1025px) {
  .contact-tabs .user-testimonial {
    width: 350px;
  }
}
@media (min-width: 1441px) {
  .contact-tabs .user-testimonial {
    width: 425px;
  }
}
.contact-tabs .user-testimonial .user-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 25px;
}
@media (max-width: 767px) {
  .contact-tabs .user-testimonial .user-img {
    width: 60px;
  }
}
.contact-tabs .user-testimonial .testimonial-content img {
  height: 24px;
  margin-bottom: 15px;
}
.contact-tabs .user-testimonial .testimonial-content .txt-size-18 {
  margin-bottom: 25px;
}
@media (min-width: 1025px) {
  .contact-tabs .tab-content {
    margin-left: 5.208vw;
  }
}
.contact-tabs .tab-content .tab-content-heading {
  font-weight: 700;
}
.contact-tabs .tab-content .tab-subheading {
  font-weight: 700;
  margin: 25px 0;
}
@media (min-width: 1025px) {
  .contact-tabs .tab-content .tab-subheading {
    margin-bottom: 2.604vw;
    margin-top: 2.604vw;
  }
  .contact-tabs .tab-contacts {
    margin-bottom: 40px;
  }
}
.contact-tabs .single-tab-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact-tabs .single-tab-contact img {
  margin-right: 30px;
}
.contact-tabs .contacts-tab-form .form-styles .form-label {
  background-color: #fff;
  color: #002ea6;
}
.contact-tabs .contacts-tab-form .form-styles .form-input {
  color: #002ea6;
}
.header.header-landing .content-wrap:before {
  content: none !important;
}
.contacts-tab-form .hbspt-form input[type='submit'].hs-button:focus,
.contacts-tab-form .hbspt-form input[type='submit'].hs-button:hover {
  color: #17fcc4;
  background: #002ea6 !important;
  border: none;
}
@media (max-width: 500px) {
  .form-content-tab .hbspt-form .hs-form-field {
    margin-bottom: 30px !important;
  }
  .tab-content .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.contacts-tab-form .hbspt-form .submitted-message.hs-main-font-element {
  color: #002ea6 !important;
  font-family:
    Libre Franklin,
    sans-serif;
  font-weight: 600;
}
.sk-form-hbsp .hs-form-field .hs-error-msgs>li .hs-error-msg{color:#002ea6!important;font-weight:600}