@import '../variables';
@import '../blocks/components/tables';
.block--g {
  padding-top: 0;
  padding-bottom: 35px;

  table {
    border: 0 transparent !important;

    th,
    td {
      border-bottom: 0 transparent;
    }
    th:not(:last-of-type),
    td:not(:last-of-type) {
      border-right: 0 transparent !important;
      border-bottom: 0 transparent !important;
    }
  }

  .table-comparison {
    width: unset;
    margin: unset;
  }
}
