/* HTML: <div class="loader-wrap"><div class="sk-loader"></div></div> */
.loader-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
}
.sk-loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #f6f8fc;
  border-right-color: #002ea6;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}

/* HTML: <div class="loader"></div> */
.loader {
  height: 30px;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #002ea6;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
.loader.white {
  border-color:#fff;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

.hs-form-field.hs-phone .input {
  position:relative;
}
.hs-form-field.hs-phone .input .loader {
  position: absolute;
  right: 15px;
  top: 6px;
}

/* English/Spanish/French privacy policy popup */
body.cli-modal-open #cookie-law-info-bar{display:none!important;opacity:0!important}
html[lang="es-US"] .cli-privacy-overview a.cli-privacy-readmore:before {content:'Mostrar más'}
html[lang="es-US"] .cli-privacy-overview.cli-collapsed a.cli-privacy-readmore:before {content:'Mostrar menos'}
html[lang="es-US"] .cli-switch .cli-slider:after {content:'Desactivado'}
html[lang="es-US"] .cli-user-preference-checkbox:checked + .cli-slider:after {content:'Habilitado'}

html[lang="fr-CA"] .cli-privacy-overview a.cli-privacy-readmore:before {content:'Afficher plus'}
html[lang="fr-CA"] .cli-privacy-overview.cli-collapsed a.cli-privacy-readmore:before {content:'Montrer moins'}
html[lang="fr-CA"] .cli-switch .cli-slider:after {content:'Désactivés'}
html[lang="fr-CA"] .cli-user-preference-checkbox:checked + .cli-slider:after {content:'Activés'}

.cli-modal-content {
  padding-top:40px;
}

.cli-tab-container h4, .cli-tab-container h1, .cli-btn, .cli-plugin-button {
  font-family: "Red Hat Display", sans-serif;
}

.cli-plugin-button, .cli-btn {
  font-weight:700!important;
  transition:all 0.3s ease;
  border-radius: 40px!important;
}

table.cookielawinfo-winter {
  font-family:"Libre Franklin", sans-serif!important;
}

#wt-cli-accept-all-btn, #wt-cli-privacy-save-btn {
  color:#002ea6!important;
  background-color:#17fcc4!important;
}
#wt-cli-accept-all-btn:hover, #wt-cli-accept-all-btn:focus,
#wt-cli-privacy-save-btn:hover, #wt-cli-privacy-save-btn:focus {
  color:#17fcc4!important;
  background-color:#002ea6!important;
  opacity:1!important;
}
.cli_settings_button {
  color:#17fcc4!important;
  background-color:#002ea6!important;
}
.cli_settings_button:hover,.cli_settings_button:focus {
  color:#002ea6!important;
  background-color:#17fcc4!important;
}

.cli-switch input:checked + .cli-slider {
  background-color:#17fcc4!important;
}

/* AB tests */
.AB-hero-form.B .row {
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center;
}

.AB-hero-form.B .left-content {
  width: 100%;
  text-align: center;
}

body.postid-17724 .inner-pages-contact-section:after {
  width: 100%;
}
body.postid-17724 .inner-pages-contact-section .contact-block {
  padding-left: 0 !important;
}

.featured-article-wrap h2 a:focus,
.featured-article-wrap h2 a:hover,
.tool-tip a {
  text-decoration: underline;
}

/* schedule a callback on industry pages */
.callback-popup-form {
  align-items: center;
  background-color: #002ea6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  max-height: 100vh;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition:
    opacity 0.5s cubic-bezier(0.61, 1, 0.88, 1),
    visibility 0.5s cubic-bezier(0.61, 1, 0.88, 1),
    transform 0.5s cubic-bezier(0.61, 1, 0.88, 1);
  visibility: hidden;
  width: 100%;
  z-index: 5;
}

.callback-popup-form .mobile-contact-form {
  margin: 0 auto;
  max-height: 100%;
  padding: 40px 0 0;
  position: relative;
  width: 70%;
}

.callback-popup-form .form-popup-close-btn {
  top: 45px;
}

@media (min-width: 1025px) {
  .callback-popup-form .mobile-contact-form {
    padding: 200px 0 0;
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .callback-popup-form {
    align-items: flex-start;
    padding-top: 160px;
  }
  #how-to .container {
    display: grid;
  }
  #how-to .plain-txt-block {
    grid-row-start: 1;
  }
}

/* Inline quote used to style blockquotes in WYSIWYG */
.inline-quote blockquote {
  position: relative;
}
.inline-quote blockquote::before {
  -webkit-box-flex: 0;
  background-image: url(../media/images/pictograms/quote-icon-red.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: inline-block;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 24px;
  margin-right: 12px;
  position: absolute;
  left: -35px;
  width: 24px;
}

/* callback form z-index fix when the other popup form is on the same page */
html.open-callback-popup-form .callback-popup-form {
  z-index: 9999;
}

/* filters adjustments */
@media (min-width: 1025px) {
  .filter-checkboxes {
    display: flex;
    align-items: center;
  }
}

.hbspt-form .hs-form-field label.label-large:not(.hs-error-msg) {
  position: relative !important;
}

/* Chat close button */
.btn-chat-close {
  display: none;
  position: fixed;
  right: 58px;
  bottom: 130px;
  z-index: 99;
  font-size: 12px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}
.btn-chat-close.spanish {
  bottom: 155px;
}
.btn-chat-close.show {
  display: block;
}

@media (max-width: 767px) {
  .btn-chat-close {
    display: none !important;
  }
}

#customTheme-connect-chat.hide-chat .chat-info-welcome {
  display: none !important;
}
#customTheme-connect-chat.spanish .chat-info-welcome {
  padding: 10px 20px;
}

/* footer updates related to chat close button */
@media (max-width: 1480px) {
  .lang-es .footer-landing-page-template .custom-footer-bottom-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    text-align: center;
  }
}

@media (max-width: 1480px) {
  .lang-es
    .footer-landing-page-template
    .custom-footer-bottom-item:not(:last-of-type):before {
    content: none;
  }
}
@media (min-width: 1481px) {
  .lang-es
    .footer-landing-page-template
    .custom-footer-bottom-item:not(:last-of-type):before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    content: '';
    height: 80%;
    position: absolute;
    right: -9px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
  }
}

@media (max-width: 660px) {
  #footer.footer-landing-page-template.footer {
    padding-bottom: 70px !important;
  }
}

/* floated images fix for mobile devices */
@media (max-width: 500px) {
  .wp-block-image figure.alignleft,
  .wp-block-image figure.alignright {
    float: none;
  }
}

/* Hubspot download guide forms update */
@media screen and (min-width: 1025px) {
  .talk-us-block
    .hbspt-form
    label:not(.hs-error-msg):not(.hs-main-font-element),
  .contact-block
    .hbspt-form
    label:not(.hs-error-msg):not(.hs-main-font-element) {
    display: block;
    background-color: #086d93 !important;
  }
}

ul.hs-error-msgs,
ul.hs-error-msgs li {
  padding-left: 0 !important;
}
.hbspt-form .hs-error-msg.hs-main-font-element,
.hs-error-msgs .hs-main-font-element {
  color: #17fcc4 !important;
}

.download-popup-form h3 {
  margin-bottom: 30px;
}
.download-popup-form .hs-form-field {
  margin-bottom: 20px;
}
.download-popup-form .hs-form-field .hs-input {
  width: 100%;
}

.hs_error_rollup {
  display: none;
}

.contact-block .hbspt-form,
.section-download-guide .hbspt-form,
.talk-us-block .hbspt-form,
.talk-us-block .sk-lander .hbspt-form {
  padding: 0;
  background: transparent;
  border-radius: 0;
}

.contact-block .hbspt-form form,
.section-download-guide .hbspt-form form,
.talk-us-block .hbspt-form form {
  display: flex;
  flex-direction: column;
}

.contact-block .hbspt-form .hs-submit .hs-button,
.section-download-guide .hbspt-form .hs-submit .hs-button,
.talk-us-block .hbspt-form .hs-submit .hs-button {
  width: 100% !important;
}

.contact-block .hbspt-form input[type='email'],
.sk-lander .section-download-guide .hbspt-form input[type='email'],
.section-download-guide .hbspt-form input[type='email'],
.sk-lander .talk-us-block .hbspt-form input[type='email'],
.talk-us-block .hbspt-form input[type='email'] {
  height: auto !important;
  line-height: 30px !important;
  padding: 0.938vw 0.781vw !important;
  border: 1px solid hsla(0, 0%, 100%, 0.5) !important;
}

.contact-block .hbspt-form input[type='email']::placeholder,
.section-download-guide .hbspt-form input[type='email']::placeholder,
.talk-us-block .hbspt-form input[type='email']::placeholder {
  color: hsla(0, 0%, 100%, 0.5) !important;
}

.download-popup-form
  .hbspt-form
  label:not(.hs-error-msg):not(.hs-main-font-element) {
  background-color: #002ea6;
  color: #fff;
  font-family:
    Libre Franklin,
    sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  z-index: 3;
  left: 1.146vw;
  letter-spacing: 0.6px;
  padding: 0 0.521vw 0 0.677vw;
  top: -10px;
}

.contact-block .hbspt-form label:not(.hs-error-msg):not(.hs-main-font-element),
.section-download-guide
  .hbspt-form
  label:not(.hs-error-msg):not(.hs-main-font-element) {
  display: none;
}

@media screen and (min-width: 1025px) {
  .talk-us-block
    .hbspt-form
    label:not(.hs-error-msg):not(.hs-main-font-element) {
    display: block;
    background-color: #086d93 !important;
  }
}

.hbspt-form .hs-error-msgs li {
  padding-left: 0;
}

.contact-block .hbspt-form .hs-error-msgs.inputs-list,
.section-download-guide .hbspt-form .hs-error-msgs.inputs-list,
.talk-us-block .hbspt-form .hs-error-msgs.inputs-list {
  margin-top: 0;
}

.contact-block .hbspt-form .hs-error-msgs.inputs-list li::before,
.section-download-guide .hbspt-form .hs-error-msgs.inputs-list li::before,
.talk-us-block .hbspt-form .hs-error-msgs.inputs-list li::before {
  content: none;
}

.contact-block .hbspt-form .hs-error-msg,
.section-download-guide .hbspt-form .hs-error-msg,
.talk-us-block .hbspt-form .hs-error-msg {
  background: transparent;
}

.contact-block .hbspt-form .hs-form-field {
  margin-bottom: 0px !important;
}

.section-download-guide .hbspt-form .hs-form-field,
.talk-us-block .hbspt-form .hs-form-field {
  margin-bottom: 20px !important;
}

/* mobile blog h1 screen runoff fix */
@media (max-width: 375px) {
  .sk-blog-content .article-body > .article-content h1 {
    word-break: break-word;
  }
}

span.popup-trigger {
  text-decoration: underline;
  cursor: pointer;
}
.popup-trigger,
.postid-3652 .sk-block a,
.title-highlight {
  font-weight: 600;
}
@media (min-width: 1025px) {
  .blog-subscribe-form form input[type='submit'] {
    font-size: 0.938vw;
  }
  .txt-btn-info-blue-section .txt-block {
    width: calc(50% - 7.084vw);
  }
}
.hs-input {
  font-family: 'Libre Franklin';
}

.hero .anchor-link.next-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 141px;
  width: 141px;
}
.hero.inner-pages-landing-section .btn-default,
.hero.inner-pages-landing-section .scroll-to-section-btn,
.single-rates .gform_wrapper {
  margin-top: 0;
}
.hero .single-txt-block ul a {
  font-weight: 600;
  color: #fff;
}
.page-id-22814 .circle-images-right,
.slick-list {
  overflow: visible;
}
.page-id-22814 .circle-images-right::after,
.page-id-22814 .two-columns-flex.bg-blue::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  right: 0;
  background: #002ea6;
  z-index: -2;
}
@media (max-width: 768px) {
  .page-id-22814 .hero .bg-image {
    background-position: 70% center !important;
  }
}
.postid-22296 .block--h .images-block .image-item {
  flex: 1 0 auto;
}
@media (max-width: 991px) {
  .postid-22296 .block--h .images-block .image-item {
    margin-bottom: 30px;
  }
}
input[type='date']::-webkit-date-and-time-value {
  text-align: left;
}
@media (max-width: 750px) {
  .postid-22296 .block--h .images-wrap .company-logo {
    margin-bottom: 0 !important;
    margin-top: 0;
  }
}
.sk-blog-content .article-body > .article-content .blog-content {
  color: #002ea6;
  font-family:
    Libre Franklin,
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.related-articles
  .related-articles-wrap
  .related-post-item
  .single-article-title
  a:focus,
.related-articles
  .related-articles-wrap
  .related-post-item
  .single-article-title
  a:hover {
  color: #002585;
  text-decoration: underline;
}
.hero .hero-subtitle,
.customTheme-block .block-heading,
.customTheme-block .block-subheading,
.txt-blocks-layout-section .block--h .images-block .section-title {
  margin-bottom: 24px;
}
.btn-default + .reviews-table {
  margin-top: 2.083vw !important;
}
.postid-22293 .images-wrap,
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.anchor-wrap,
.img-wrapper img.partner-img,
.screen-dark,
.customTheme-block.circle-info-blue-section .inner-circles-wrap,
.symbol,
.tool-tip {
  position: relative;
}
.anchor-tag,
.video-anchor {
  position: absolute;
  top: -120px;
}
.symbol::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  height: 20px;
  width: 20px;
}
.symbol.check::before {
  background: url(https://customThememerchants.com/wp-content/uploads/2022/06/checkmark-green.png)
    center center no-repeat;
}
.symbol.cross::before {
  background: url(https://customThememerchants.com/wp-content/uploads/2023/08/Cross.svg)
    center center no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .content-bullets .toc-heading-4,
  .osx .content-bullets .toc-heading-3 {
    position: relative;
    list-style: none;
  }
  .osx .content-bullets .toc-heading-3::before,
  .osx .content-bullets .toc-heading-4::before {
    position: absolute;
    left: -10px;
    top: 0;
  }
  .osx .content-bullets .toc-heading-3::before {
    content: '• ';
    list-style-type: disc;
  }
  .osx .content-bullets .toc-heading-4::before {
    content: '◦ ';
    list-style-type: circle;
  }
  .anchor-tag {
    top: -280px;
  }
}
.content-bullets .toc-heading-3::marker {
  content: '• ';
  list-style-type: disc;
}
.content-bullets .toc-heading-4::marker {
  content: '◦ ';
  list-style-type: circle;
}
.dropdown-content a {
  font-weight: 700;
}
.breadcrumb-wrap a {
  transform: translate(0, 0);
}
.postid-21333 .btn-external {
  opacity: 0;
  visibility: hidden;
}
.animated-in .swiper-slide,
.header-toggled-state .postid-21333 .btn-external,
.tool-tip:focus .tool-tip-desc,
.tool-tip:hover .tool-tip-desc {
  visibility: visible;
  opacity: 1;
}
html.header-toggled-state header .btn-default.btn-green-1 .btn-bg-el {
  background-color: #17fcc4;
}
@media (max-width: 500px) {
  .blog-subscribe-form form input[type='submit'],
  .postid-20230 .block--t .btn-default.size-18-txt {
    font-size: 16px;
  }
  .postid-5341 #footer .footer-info-col-item.txt-size-17 {
    font-size: 12px;
  }
  .postid-5341 #footer .footer-info-col-item {
    margin-bottom: 3.5px;
  }
  .postid-5341
    #footer
    .footer-links-inner-col
    .footer-info-col-item:last-child {
    margin-bottom: 0;
  }
  .hero .anchor-link.next-btn {
    height: 28.2vw;
    width: 28.2vw;
  }
  .hero .landing-video-btn {
    left: 45vw !important;
  }
  .page-id-22814 .hero .bg-image {
    background-position: 65% center !important;
  }
  .page-id-22814 .circle-info-blue-section .images-mid .inner-img-wrap {
    height: auto;
    width: auto;
  }
  .txt-post-rtf.textpage-rtf a {
    word-wrap: break-word;
  }
  .post-id-21333 .btn-external {
    padding: 4.6vw 12vw;
  }
  .btn-default.btn-green-1 .btn-bg-el {
    z-index: 1;
  }
}
.breadcrumb-wrap .breadcrumb-list,
.circle-info-white-section-2.image-right .txt-content,
.section-download-guide .txt-content .single-block,
.single-rates .breadcrumb-wrap .breadcrumb-list,
.two-columns-content .block-list,
ul#tabs {
  padding-left: 0;
}
.contact-tabs .single-tab-contact p,
.dropdown-content p:last-child,
.sk-lander .content-block-holder :last-child,
.two-columns-content .block-list .list-item:last-child,
.wp-block-columns {
  margin-bottom: 0;
}
.contact-tabs .contacts-tab-form {
  margin-top: 40px;
}
.dropdown-content p {
  margin-bottom: 1em;
}
.animated-in .swiper-slide {
  pointer-events: all;
}
.callback-popup-form .h3,
.callback-popup-form h3,
.download-popup-form .h3,
.download-popup-form h3 {
  text-transform: unset !important;
}
.footer-links-hold a {
  display: inline !important;
}
.img-partner-hold .img-wrapper.aspect-ratio-180-70 {
  display: flex;
  padding-top: 0;
}
.lightSlider {
  height: auto !important;
}
.content-block-holder .table-block {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
.single-rates #header a,
.single-rates .contact-section-btn,
.sk-lander .main-header .dropdown-items-link,
.sk-lander .main-header .header-link-item {
  text-decoration: none;
}
.sk-lander .main-header .header-link-item.has-dropdown:focus,
.sk-lander .main-header .header-link-item.has-dropdown:hover {
  color: #ff034a !important;
}
.tool-tip .tool-tip-desc {
  position: absolute;
  left: 0;
  bottom: calc(100% + 15px);
  z-index: 9;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 18px;
  box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 20%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.tool-tip .tool-tip-desc::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  height: 20px;
  width: 20px;
  background: #fff;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 20%);
  transform: translateX(-50%) rotate(45deg);
}
.tool-tip a {
  color: #002ea6;
}
.article-share .social-item .sr-only,
.landing-video-btn,
.quote-carousel .slider-navigation a,
.quote-carousel .slider-navigation a:active,
.quote-carousel .slider-navigation a:focus,
.quote-carousel .slider-navigation a:hover,
.single-rates .form-popup-close-btn,
.slick-arrow,
.vimeo-btn {
  color: transparent;
}
.btn-sc-next-step {
  opacity: 0 !important;
  visibility: hidden !important;
}
.btn-sc-next-step.show {
  opacity: 1 !important;
  visibility: visible !important;
}
.article-body
  .article-content
  .article-main-content
  .table-of-contents
  .content-bullets
  .toc-heading-3 {
  margin-left: 25px;
}
.article-body .article-content .article-main-content .article-text h2 {
  margin-top: 1rem;
}
.single-post iframe {
  width: 100%;
  min-height: 360px;
}
.header-landing .landing-template-btn.btn-in-menu .btn-txt {
  background-color: transparent;
}
.header .logo-on-scroll,
html.header-toggled-state .header .logo-no-scroll {
  opacity: 0 !important;
}
html.header-toggled-state .header .logo-anim-white.logo-on-scroll {
  opacity: 1 !important;
}
@media (max-width: 575px) {
  .block--a .right-form {
    max-width: 96%;
    margin: 0 auto;
  }
}
.section-download-guide .txt-content {
  justify-content: center;
}
.customTheme-block h2 .splitByChars .word > div {
  opacity: 1 !important;
  transform: none !important;
}
.anchor-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.anchor-group a {
  margin: 0 15px;
  text-align: center;
}
.wp-block-separator {
  margin-bottom: 15px;
}
.post-id-18523 .faq-footer,
.post-id-18523 .faq-footer + .btn-default {
  margin-top: 30px;
}
.post-id-18433 .txt-post-rtf h1 {
  font-size: 64px;
}
.post-id-18433 .txt-post-rtf h2 {
  font-size: 48px;
}
.flexible-table.table-block table tr.four-columns-heading-row th:first-child,
.txt-a-l {
  text-align: left;
}
.txt-a-r {
  text-align: right;
}
.posts-pagination,
.txt-a-c {
  text-align: center;
}
.bg-white {
  background: #fff;
}
.bg-blue,
.slick-dots li.slick-active button {
  background: #002ea6;
}
.bg-light-blue {
  background: rgba(0, 143, 196, 0.05);
}
.bg-red {
  background: #ff034a;
}
.bg-green {
  background: #17fcc4;
}
.customTheme-block .block-list,
.sk-block .block-list {
  list-style-type: none;
}
.customTheme-block .block-list .list-item,
.sk-block .block-list .list-item {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  font-family: 'Libre Franklin';
  font-size: 18px;
  font-weight: 500;
}
.customTheme-block .block-list .list-item:last-child,
.sk-block .block-list .list-item:last-child {
  margin-right: 0;
}
.customTheme-block .block-list .item-num,
.sk-block .block-list .item-num {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 85px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #002ea6;
  border-radius: 50%;
}
.two-columns-content .block-list .list-item {
  margin-right: 0;
  margin-bottom: 30px;
}
.two-columns-content .block-list .item-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.section-download-guide.inner-pages-contact-section::after,
.customTheme-block .home-page-form .message-input,
.wp-block-image img {
  width: 100%;
}
.hero.inner-pages-landing-section .bg-image::before {
  content: none !important;
}
.hero.inner-pages-landing-section .landing-video-btn .circle-inner,
.hero.inner-pages-landing-section .landing-video-btn .circle-outer {
  transform: translate3d(-50%, -50%, 0) !important;
}
.hero .txt-content {
  max-width: 65%;
}
.hero .hero-title {
  max-width: none;
  margin-bottom: 24px;
}
.hero .scroll-to-next-btn {
  position: relative;
  left: auto;
  bottom: auto;
}
.hero .hero-transparent-icon {
  position: absolute;
  width: 275px;
  height: auto;
  top: auto;
  bottom: 0;
  right: 0;
}
.hero.inner-pages-landing-section .single-txt-block {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  padding-top: 0;
}
.hero .landing-video-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: auto !important;
  transform: translateY(-50%);
  z-index: 1;
}
@media (max-width: 879px) {
  .hero .anchor-link.next-btn {
    position: absolute;
  }
  .hero .landing-video-btn {
    position: relative;
    top: auto;
    left: 280px !important;
    right: auto;
    bottom: auto;
    transform: none;
    display: inline-block;
  }
}
.hero.fancy .txt-content {
  position: relative;
  max-width: 500px;
}
.hero.fancy .txt-content::before {
  content: '';
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
  z-index: -1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0.36) 0,
    rgba(0, 0, 0, 0) 100%
  );
}
.hero.fancy .txt-content::after,
.screen-dark::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
}
.hero.fancy .txt-content::after {
  z-index: -1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0.42) 0,
    rgba(0, 0, 0, 0) 100%
  );
}
.screen-dark::before {
  z-index: 1;
  background: linear-gradient(
    90.01deg,
    rgba(0, 0, 0, 0.56) 0.01%,
    rgba(0, 0, 0, 0.415015) 40.48%,
    rgba(0, 0, 0, 0) 80.45%
  );
}
.block-tc-il.image-right .max-w-container {
  flex-direction: row-reverse;
}
.block-tc-il.image-right .circle-blue {
  right: -68%;
}
.block-tc-il.image-right .circle-gray {
  right: -68% !important;
}
.circle-images-right.image-left .max-w-container {
  display: flex;
  justify-content: flex-end;
}
@media (max-width:1024px){
  .circle-images-right.image-left .max-w-container{
    display:block;
  }
  .customTheme-block.circle-images-right.image-3-1 .content-wrap {
    padding-bottom:0 !important;
  }
}
.circle-images-right.image-left .image-group {
  left: -40px !important;
  right: auto;
}
.circle-images-right.image-left .images-wrap.images-mid {
  left: 14.583vw;
}
.customTheme-block.circle-info-blue-section.image-left .images-wrap.images-bot {
  justify-content: flex-start;
}
.block-mc .swiper-wrapper {
  align-items: stretch;
}
.block-mc .swiper-wrapper .swiper-slide {
  align-content: space-between;
  display: grid;
  justify-items: flex-start;
  height: auto;
}
.block-mc.inner-pages-slider-section .txt-content {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}
.block-mc.inner-pages-slider-section .btn-txt-arrow {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Libre Franklin';
  font-size: 16px;
}
.block-mc.inner-pages-slider-section .block-content,
.block-mc.inner-pages-slider-section .block-heading {
  margin-right: 120px;
}
@media (min-width: 1025px) {
  .contacts-tab-form input,
  .contacts-tab-form select {
    font-size: 1.094vw;
    padding: 0.521vw;
    letter-spacing: 0.021vw;
    height: 40px;
    line-height: 20px;
  }
  .side-menu-quiz-btn {
    width: 13.958vw;
    border: 1px solid #d9d9d9;
  }
  .side-menu-quiz-btn .btn-txt {
    opacity: 1;
  }
  .side-menu-quiz-btn .btn-txt,
  .side-menu-quiz-btn .side-menu-quiz-btn-svg {
    transition: 0.2s !important;
  }
  .side-menu-quiz-btn:focus,
  .side-menu-quiz-btn:hover {
    border-color: transparent;
  }
  .side-menu-quiz-btn:focus .btn-txt,
  .side-menu-quiz-btn:hover .btn-txt {
    transform: translateX(-5px);
  }
  .side-menu-quiz-btn:focus .side-menu-quiz-btn-svg,
  .side-menu-quiz-btn:hover .side-menu-quiz-btn-svg {
    transform: scale(1.05);
  }
  .hero.inner-pages-landing-section .landing-video-btn {
    left: auto !important;
  }
  .hero .landing-video-btn {
    height: 7.344vw;
    width: 7.344vw;
  }
  .customTheme-block.circle-info-blue-section.image-left .inner-circles-wrap.mobile {
    display: none;
  }
  .two-columns-flex .row.image-left {
    flex-direction: row-reverse;
  }
  .customTheme-block .top-heading {
    margin-bottom: 2.604vw !important;
  }
}
.two-columns-flex .img-wrap {
  min-height: 525px;
}
@media (max-width: 1024px) {
  .customTheme-block.circle-info-blue-section.image-left
    .inner-circles-wrap.desktop {
    display: none;
  }
  .circle-images-right.circle-info-blue-section
    .images-mid
    .inner-circles-wrap {
    display: block;
  }
  .circle-images-right.image-left .images-wrap.images-mid {
    left: auto;
  }
  .two-columns-flex .row.image-left {
    flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .two-columns-flex .row.image-left {
    flex-direction: column-reverse;
  }
}
.customTheme-block.circle-info-blue-section .image-group {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: auto;
  z-index: 0;
}
.customTheme-block.circle-info-blue-section .images-wrap {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
}
.customTheme-block.circle-info-blue-section .images-wrap.images-bot {
  justify-content: flex-end;
}
.customTheme-block.circle-info-blue-section .inner-circles-wrap.inner-left-circle {
  right: auto;
}
.customTheme-block.circle-info-blue-section .inner-circles-wrap.inner-right-circle {
  left: auto;
}
.customTheme-block.circle-info-blue-section .inner-circle-outer {
  height: 65%;
  width: 65%;
}
.customTheme-block.circle-images-right .images-wrap .circle-img {
  width: 14.583vw;
  height: 14.583vw;
}
.customTheme-block.circle-images-right .txt-content {
  width: 55%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.customTheme-block.circle-info-blue-section .txt-post-rtf,
.customTheme-block.circle-info-blue-section .txt-size-60 {
  width: auto;
  max-width: none;
}
.slick-slide {
  display: flex !important;
  justify-content: center;
  transition: 0.3s;
}
.slick-slide:not(.slick-active) {
  transform: scale(0.9);
  opacity: 0.75;
}
.slick-slide iframe {
  width: 95%;
  height: 27vw;
}
.slick-arrow {
  position: absolute;
  top: calc(50% - 32px);
  transform: translateY(-50%);
  z-index: 9;
  height: 64px;
  width: 64px;
}
.slick-arrow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
}
.slick-arrow.slick-prev {
  left: calc(17.084vw - 64px);
  background: url('/wp-content/uploads/2023/09/chevron-left.png') center center
    no-repeat;
}
.slick-arrow.slick-next {
  right: calc(17.084vw - 64px);
  background: url('/wp-content/uploads/2023/09/chevron-right.png') center center
    no-repeat;
}
.vc-slide {
  position: relative;
  padding-bottom: 7.025%;
  margin: 0 30px;
}
.iframe-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.iframe-screen.hidden {
  pointer-events: none;
}
.vc-slide iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
}
.slick-dots button {
  height: 16px;
  width: 16px;
  margin: 0 10px;
  color: transparent;
  background: #939598;
  border-radius: 50%;
}
.single-rates .breadcrumb-wrap a {
  display: inline-block;
  position: relative;
  padding: 0 15px;
  color: #fff;
  text-decoration: none;
}
.single-rates .inner-pages-contact-section .contact-section-btn:focus,
.single-rates .inner-pages-contact-section .contact-section-btn:hover {
  border-color: #d9d9d9;
}
.posts-pagination .next,
.posts-pagination .prev {
  display: none !important;
}
.single-rates section .content-block-holder {
  margin-bottom: 20px;
}
.post-id-17724 .txt-blocks-layout-section.landing-page-template-blocks {
  padding-top: 0;
  border-top: 0;
}
.post-id-17724 .section-download-guide {
  transform: none !important;
}
.inner-pages-contact-section.section-download-guide
  .background-flower-path-patterns {
  width: 100vw;
}
.section-download-guide .txt-content .txt-post-rtf {
  max-width: none;
  margin-right: 0;
  margin-left: 0;
}
.section-download-guide .newsletter-form form {
  width: 100%;
  margin-left: 0;
}
@media (max-width: 1024px) {
  .slick-arrow {
    display: none !important;
  }
  .vc-slide {
    margin: 0;
  }
  .customTheme-block.circle-info-blue-section .image-group {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }
  .customTheme-block.circle-images-right .images-wrap .circle-img,
  .customTheme-block.circle-info-blue-section .inner-circles-wrap {
    width: 25vw;
    height: 25vw;
  }
  .customTheme-block.circle-info-blue-section .inner-circle-outer {
    height: 17vw;
    width: 17vw;
  }
  .customTheme-block.circle-images-right .txt-content {
    width: 100%;
  }
  .single-rates .footer .reviews-wrap-title,
  .single-rates .footer-info-col p,
  .single-rates
    .footer:not(.footer-landing-page-template)
    a:not(.site-by-link):not(.social-item) {
    color: #fff;
  }
  .single-rates .footer .footer-links-inner-col {
    padding-left: 0;
  }
  .hero .hero-transparent-icon {
    width: 190px;
    right: -38px;
  }
  .hero .txt-content {
    max-width: 70%;
  }
  .inner-pages-contact-section.section-download-guide {
    padding-top: 0;
  }
  .section-download-guide .txt-content .single-block {
    padding-left: 38px;
  }
  .careers-swiper .swiper-nav-next {
    margin-top: 30px;
    cursor: pointer;
  }
}
@media (max-width: 992px) {
  .two-columns-flex .row {
    flex-direction: column-reverse;
  }
  .two-columns-flex .img-wrap {
    margin-bottom: 30px;
  }
  .post-id-18433 .txt-post-rtf h1 {
    font-size: 48px;
  }
  .post-id-18433 .txt-post-rtf h2 {
    font-size: 32px !important;
  }
}
@media (max-width: 768px) {
  .single-post .single-article-section .article-text {
    width: 100%;
  }
  .single-post .single-article-section iframe {
    max-width: 100%;
  }
  .single-post iframe {
    min-height: 280px;
  }
  .block-mc.inner-pages-slider-section .block-content,
  .block-mc.inner-pages-slider-section .block-heading {
    margin-right: 0;
  }
  .block-mc.inner-pages-slider-section .block-content {
    margin-bottom: 1rem;
  }
  .block-mc.inner-pages-slider-section .btn-txt-arrow {
    position: relative;
    top: auto;
    right: auto;
  }
  .hero .hero-transparent-icon {
    width: 135px;
  }
  .hero .txt-content {
    max-width: 95%;
  }
}
@media (max-width: 640px) {
  .single-post
    .single-article-section
    .article-main-content
    .article-text:first-child {
    padding-top: 1.5rem;
  }
  .anchor-group {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .two-columns-flex .img-wrap {
    min-height: 300px;
  }
  .sk-lander .slides {
    height: auto !important;
  }
}
@media (min-width: 501px) and (max-width: 1024px) {
  .circle-images-right.circle-info-blue-section .images-mid .inner-img-wrap {
    height: 25vw;
    width: 25vw;
  }
  .customTheme-block .top-heading {
    margin-bottom: 36px !important;
  }
}
@media (max-width: 480px) {
  .btn-default {
    line-height: 1.3;
  }
}
.abs-cover-el {
  z-index: 0;
}
.post-id-21688 .flexible-table {
  padding: 60px 0 !important;
  margin-bottom: 60px !important;
}
.posts-pagination .page-numbers {
  display: inline-block;
  padding: 0 10px;
  font-size: 21px;
  color: #002ea6;
}
.posts-pagination .page-numbers.current {
  color: #17fcc4 !important;
  font-size: 27px;
  font-weight: 700;
}
.flexible-table.table-block table thead {
  color: #002ea6;
}
.flexible-table.table-block table {
  border-collapse: separate;
  border-spacing: 0;
  font-weight: 700;
  margin-bottom: 25px !important;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.flexible-table.table-block table img,
.flexible-table.table-block table tr.four-columns-heading-row {
  vertical-align: middle;
}
.flexible-table.table-block table tr.four-columns-heading-row th {
  max-width: 150px;
  text-align: center;
}
.flexible-table.table-block table tr.four-columns-heading-row th img {
  display: block;
  margin: 0 auto;
}
.flexible-table .inner-table-heading {
  background-color: transparent !important;
  display: block !important;
  margin-top: 25px !important;
}
.flexible-table.table-block table tbody tr:nth-of-type(odd) {
  background-color: #f3fffc;
}
.flexible-table.table-block table td {
  padding: 4px;
}
.flexible-table.table-block .table-cols-7 td,
.flexible-table.table-block .table-cols-7 th {
  width: 14.28%;
}
.flexible-table.table-block .table-cols-6 td,
.flexible-table.table-block .table-cols-6 th {
  width: 16.66%;
}
.flexible-table.table-block .table-cols-5 td,
.flexible-table.table-block .table-cols-5 th {
  width: 20%;
}
.flexible-table.table-block .table-cols-4 td,
.flexible-table.table-block .table-cols-4 th {
  width: 25%;
}
@media (min-width: 1025px) {
  section:not(.sk-lander-content) .contact-form-block .right-content-form > p {
    margin-bottom: 30px;
  }
  .posts-pagination {
    padding-bottom: 5.208vw;
    padding-top: 5.208vw;
  }
  .flexible-table.table-block table {
    margin-bottom: 1.302vw !important;
    padding-right: 6.771vw;
  }
  .flexible-table.table-block table thead {
    font-size: 1.25vw;
  }
  .flexible-table.table-block table thead th:first-of-type {
    letter-spacing: 0.018vw;
  }
  .flexible-table.table-block table tr.four-columns-heading-row th img {
    width: 35%;
  }
}
@media (max-width: 719px) {
  .subscribe-newsletter-form .hbspt-form .hs-form-field label {
    position: relative;
    top: auto;
    left: auto;
  }
  .block-mc .inner-pages-slider-section .swiper-container {
    overflow: hidden;
  }
  .inner-pages-landing-section .bg-image:before {
    z-index: 1;
  }
}
.table-cols-7 tbody tr:not(.inner-table-heading) {
  width: 14.285%;
}
@media (max-width: 1024px) {
  .posts-pagination {
    padding-bottom: 40px;
  }
  .inner-pages-quiz-section .side-menu-quiz-btn {
    margin: 20px;
  }
  .careers-swiper .swiper-nav-next {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
  .header .landing-template-btn.btn-in-menu .btn-txt {
    padding: 13px 18px;
    font-size: 16px;
    font-weight: 700;
    background-color: #17fcc4 !important;
  }
  .flexible-table.table-block {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }
  .flexible-table.table-block .table-cols-4 {
    min-width: 600px;
  }
  .flexible-table.table-block .table-cols-5 {
    min-width: 750px;
  }
  .flexible-table.table-block .table-cols-6 {
    min-width: 900px;
  }
  .flexible-table.table-block .table-cols-7 {
    min-width: 1050px;
  }
}
@media (max-width: 500px) {
  .hero .landing-video-btn {
    left: 45vw !important;
  }
  .inner-pages-landing-section .landing-video-btn .circle-outer {
    height: 185%;
    width: 185%;
  }
  .customTheme-block .top-heading {
    margin-bottom: 11.4vw !important;
  }
  .customTheme-block .block-list,
  .sk-block .block-list {
    flex-direction: column;
  }
  .customTheme-block .block-list .list-item,
  .sk-block .block-list .list-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .txt-blocks-layout-section .media-block .img-content {
    height: auto;
    width: 300px;
  }
  .txt-post-rtf .h1,
  .txt-post-rtf .h2,
  .txt-post-rtf h1,
  .txt-post-rtf h2 {
    hyphens: auto;
    overflow-wrap: break-word;
  }
  .embed-popup-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embed-popup-wrap .embed-content-wrap {
    top: auto;
    left: 20px;
    right: 20px;
    transform: none;
    max-width: calc(100vw - 40px);
  }
  .embed-popup-wrap .popup-close-btn {
    right: 0;
  }
}
