.hbspt-form {
  padding: 45px;
  background: #002ea6;
  border-radius: 50px;
}
.content-block-holder.bg-blue .hbspt-form,
.home-page-form .hbspt-form,
.landing-page-form .hbspt-form,
.page-id-1526 .contacts-tab-form .hbspt-form,
.page-id-32709 .contacts-tab-form .hbspt-form,
.page-id-28057 .contacts-tab-form .hbspt-form,
.customTheme-block.bg-blue .hbspt-form {
  padding: 0;
  background: 0 0;
  border-radius: 0;
}
.hbspt-form .submitted-message.hs-main-font-element,
.hbspt-form .submitted-message.hs-main-font-element *,
.hbspt-form .submitted-message.hs-main-font-element p,
.hbspt-form h2,
.hbspt-form h3,
.hbspt-form h4,
.hbspt-form h5,
.hbspt-form h6,
.hbspt-form p {
  color: #fff !important;
}
.page-id-1526 .hbspt-form .submitted-message.hs-main-font-element,
.page-id-1526 .hbspt-form .submitted-message.hs-main-font-element *,
.page-id-32709 .hbspt-form .submitted-message.hs-main-font-element,
.page-id-32709 .hbspt-form .submitted-message.hs-main-font-element *,
.page-id-28057 .hbspt-form .submitted-message.hs-main-font-element,
.page-id-28057 .hbspt-form .submitted-message.hs-main-font-element * {
  color: #002ea6 !important;
}
.hbspt-form p {
  font-size: 18px;
  line-height: 1.66;
}
.hbspt-form fieldset {
  max-width: none !important;
  width: 100%;
}
.hbspt-form .hs-form-field {
  position: relative;
  margin-bottom: 50px !important;
}
.hbspt-form .hs-form-field label {
  position: absolute;
  z-index: 3;
  top: -10px;
  left: 1.146vw;
  padding: 0 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.6px;
  background: #002ea6;
  font-family: 'Libre Franklin';
}
.hbspt-form .hs-error-msg.hs-main-font-element,
.hbspt-form .hs-form-field label.hs-form-booleancheckbox-display {
  position: relative;
  top: auto;
  left: auto;
  padding: 0;
  margin-bottom: 5px;
}
.hbspt-form .hs-error-msg.hs-main-font-element,
.hs-error-msgs .hs-main-font-element {
  padding: 0;
  color: #17fcc4 !important;
  font-weight: 700;
}
.hbspt-form .hs-input:not(input[type='checkbox']) {
  display: flex;
  height: 42px !important;
  width: 100% !important;
  padding: 0 15px;
  line-height: 42px !important;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.021vw;
  background-color: transparent !important;
  border: 1px solid #6682ca;
  appearance: auto;
  align-items: center;
}
.hbspt-form textarea.hs-input:not(input[type='checkbox']) {
  height: auto !important;
  min-height: 125px !important;
  padding: 10px 15px;
  line-height: 1.5em !important;
}
.hbspt-form .hs-input::placeholder {
  font-size: 12px;
  font-style: normal;
  color: #fff;
}
.hbspt-form .hs-input[type='number']::placeholder {
  font-size: 14px;
  color: #fff;
}
.contact-col .hbspt-form .hs-form-field label,
.hbspt-form .hs-fieldtype-checkbox label,
.hbspt-form .hs-fieldtype-file label,
.newsletter-form-wrap .hbspt-form .hs-form-field label {
  position: relative;
  top: auto;
  left: auto;
  padding: 0;
}
.hbspt-form input[type='file'] {
  font-weight: 700 !important;
}
.hbspt-form .inputs-list {
  padding-left: 0;
}
.hbspt-form .hs-fieldtype-checkbox .inputs-list {
  padding-left: 20px;
}
.hbspt-form .hs-fieldtype-checkbox .inputs-list li {
  margin-bottom: 15px;
}
.hbspt-form .hs-fieldtype-checkbox .inputs-list .check-desc {
  display: block;
  font-size: 12px;
  letter-spacing: 0.25px;
}
.hbspt-form .hs-fieldtype-checkbox .hs-form-checkbox-display {
  display: flex;
  letter-spacing: 0;
}
.hbspt-form .hs-input[type='checkbox'] {
  display: inline-block !important;
  height: 15px !important;
  width: 15px !important;
  margin-right: 5px;
  padding: 0;
  background: 0 0 !important;
  border: 1px solid #6682ca;
  appearance: auto !important;
}
.hbspt-form select.hs-input {
  width: 100% !important;
  height: 42px;
  padding: 0 15px;
  color: #fff;
  background: 0 0 !important;
  border: 1px solid #6682ca;
}
.hbspt-form select.hs-input option {
  font-size: 18px;
  color: #002ea6;
  background: #fff;
}
.hbspt-form .hs-error-msgs {
  margin-bottom: 0 !important;
  padding-left: 0;
  list-style: none;
}
.hbspt-form .hs-error-msgs li {
  list-style: none;
}
.hbspt-form .hs-error-msgs li::before,
.hs-form-booleancheckbox::before {
  content: none !important;
}
.hbspt-form .input .hs-form-booleancheckbox-display a {
  color: #fff;
}
.hs-form-booleancheckbox-display {
  display: flex;
  padding-left: 0 !important;
}
.hs-form-booleancheckbox {
  list-style-type: none;
}
.hbspt-form .hs-button {
  width: auto !important;
  padding: 20px 35px !important;
  font-family: 'Red Hat Display';
  color: #002ea6;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background: #17fcc4;
  border: none;
  border-radius: 40px;
  transition: 0.3s;
  cursor: pointer;
}
.hbspt-form .hs-button:focus,
.hbspt-form .hs-button:hover {
  background: #fff !important;
  border: 1px solid #17fcc4;
}
#ui-datepicker-div {
  display: none;
  width: 240px;
  padding: 15px;
  background: #fff;
  border-radius: 0 0 8px 8px;
  box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 30%);
}
#ui-datepicker-div .ui-datepicker-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#ui-datepicker-div .ui-datepicker-header a {
  text-decoration: none;
  cursor: pointer;
}
#ui-datepicker-div .ui-datepicker-title {
  display: flex;
  width: 100%;
}
#ui-datepicker-div .ui-datepicker-title select {
  flex: 1;
}
#ui-datepicker-div .ui-datepicker-calendar {
  width: 100%;
}
#ui-datepicker-div .ui-datepicker-calendar td,
#ui-datepicker-div .ui-datepicker-calendar th {
  text-align: center;
}
.contact-col .hbspt-form .hs-form-field,
.landing-page-form .hbspt-form fieldset,
.newsletter-form-wrap .hbspt-form .hs-form-field,
.subscribe-newsletter-form .hbspt-form .hs-form-field {
  margin-bottom: 0 !important;
}
.landing-page-form .hbspt-form .hs-error-msgs {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.firefox .hbspt-form .hs-fieldtype-file label {
  position: relative;
  top: auto;
  left: auto;
  padding: 0;
  background: 0 0;
}
.firefox .hbspt-form fieldset .hs-input[type='file'] {
  padding: 0;
  line-height: unset;
  border: none;
}
@media (max-width: 880px) {
  .hbspt-form
    .hs-form-field
    label#label-how_has_partnering_with_customTheme_helped_to_improve_your_business_and_what_challenges_did_you_face_bef-8da3bd32-0a4b-430a-bc8e-6ee0c9f08f38 {
    top: -30px;
  }
  .hbspt-form .hs-button {
    padding: 0.99rem 2.125rem !important;
  }
}
@media (max-width: 640px) {
  .hbspt-form {
    padding: 45px 30px;
  }
}
@media (max-width: 1024px) {
  .hbspt-form
    .hs-form-field
    label#label-how_has_partnering_with_customTheme_helped_to_improve_your_business_and_what_challenges_did_you_face_bef-8da3bd32-0a4b-430a-bc8e-6ee0c9f08f38 {
    top: auto;
  }
  .hbspt-form fieldset {
    margin-bottom: 0 !important;
  }
  .hbspt-form .hs-form-field {
    margin-bottom: 20px !important;
  }
  .hbspt-form .hs-form-field label {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    padding: 0;
    margin-bottom: 10px;
    letter-spacing: 0;
    background: 0 0;
  }
  .hbspt-form fieldset .input {
    margin-right: 0 !important;
  }
  .hbspt-form fieldset .hs-input {
    width: 100% !important;
  }
  .hs-fieldtype-file .input {
    display: flex;
    align-items: center;
  }
}
.firefox .hs-fieldtype-file .hs-input {
  background-color: transparent !important;
  font-size: 0.9rem;
}
.firefox .hs-fieldtype-file input[type='file']::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #17fcc4;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 20px;
  color: #002ea6;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.firefox .hs-fieldtype-file input[type='file']::file-selector-button:active,
.firefox .hs-fieldtype-file input[type='file']::file-selector-button:hover {
  background: #fff;
}
@media (max-width: 1200px) {
  .hbspt-form fieldset.form-columns-2 .hs-form-field {
    width: 100% !important;
  }
}
.home-page-form .hbspt-form form {
  flex-direction: column;
}
.home-page-form .hbspt-form label {
  width: 90%;
  top: 6px;
  padding: 0 15px;
  background: #3358b8;
  backface-visibility: hidden;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.4px;
  line-height: 30px;
  transform-origin: 0 50%;
  transition:
    top 0.25s cubic-bezier(0.61, 1, 0.88, 1),
    color 0.25s cubic-bezier(0.61, 1, 0.88, 1),
    transform 0.25s cubic-bezier(0.61, 1, 0.88, 1),
    opacity 0.25s cubic-bezier(0.61, 1, 0.88, 1);
  z-index: 0;
}
.home-page-form .hbspt-form label.hide {
  display: none !important;
}
.home-page-form .hbspt-form label.hs-error-msg {
  font-size: 12px;
}
.home-page-form .hbspt-form .hs-input:not(input[type='checkbox']) {
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}
.home-page-form .hbspt-form textarea.hs-input:not(input[type='checkbox']) {
  min-height: auto !important;
  padding: 0;
}
.home-page-form .hbspt-form .actions {
  text-align: right;
}
.page-id-1526 .contacts-tab-form .hbspt-form .hs-input:not(input[type='checkbox']),
.page-id-32709 .contacts-tab-form .hbspt-form .hs-input:not(input[type='checkbox']),
.page-id-28057 .contacts-tab-form .hbspt-form .hs-input:not(input[type='checkbox']) {
  color: #002ea6;
  border-color: #002ea6;
}
.page-id-1526 .contacts-tab-form .hbspt-form .hs-form-field label,
.page-id-32709 .contacts-tab-form .hbspt-form .hs-form-field label,
.page-id-28057 .contacts-tab-form .hbspt-form .hs-form-field label {
  color: #002ea6;
  background: #fff;
}
.page-id-1526 .contacts-tab-form .hbspt-form input[type='file'],
.page-id-32709 .contacts-tab-form .hbspt-form input[type='file'],
.page-id-28057 .contacts-tab-form .hbspt-form input[type='file'] {
  cursor: pointer;
}
@media (min-width: 1025px) {
  .home-page-form .hbspt-form input[type='submit'] {
    height: 11.875vw;
    width: 11.875vw !important;
    padding: 0 !important;
  }
}
@media (min-width: 501px) and (max-width: 1024px) {
  .home-page-form .hbspt-form input[type='submit'] {
    height: 228px;
    width: 228px !important;
  }
}
@media (max-width: 500px) {
  .home-page-form .hbspt-form input[type='submit'] {
    height: 45.6vw;
    width: 45.6vw !important;
  }
}
.contact-col .hbspt-form,
.newsletter-form-wrap .hbspt-form,
.subscribe-newsletter-form .hbspt-form {
  padding: 0;
  margin-top: 0;
  background: 0 0;
  border-radius: 0;
}
.subscribe-newsletter-form .hbspt-form form,
.two-columns-flex .row {
  align-items: center;
}
.subscribe-newsletter-form .hbspt-form .hs-email.hs-form-field {
  margin-right: 20px;
}
.subscribe-newsletter-form .hbspt-form .hs-recaptcha.hs-form-field {
  order: 1;
}
.subscribe-newsletter-form .hbspt-form .hs-button {
  margin-top: 0 !important;
}
.subscribe-newsletter-form .hbspt-form .hs-error-msgs {
  position: absolute;
}
.subscribe-newsletter-form .hbspt-form .hs-input:not(input[type='checkbox']) {
  padding: 0 15px !important;
  height: 55px !important;
  line-height: 27px !important;
}
.contact-col .hbspt-form .hs-input:not(input[type='checkbox']),
.newsletter-form-wrap .hbspt-form .hs-input:not(input[type='checkbox']) {
  width: 100%;
  padding: 0 35px 0 0;
  color: #fff;
  background: 0 0;
  border: none;
  border-bottom: 1px solid #6682ca;
}
.contact-col .hbspt-form .hs-input:not(input[type='checkbox'])::placeholder,
.newsletter-form-wrap
  .hbspt-form
  .hs-input:not(input[type='checkbox'])::placeholder {
  font-size: 12px;
}
.contact-col .hbspt-form .hs_submit.hs-submit,
.newsletter-form-wrap .hbspt-form .hs_submit.hs-submit {
  position: absolute;
  right: 0;
  top: 0;
}
.contact-col .hbspt-form .hs-button,
.newsletter-form-wrap .hbspt-form .hs-button {
  width: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  margin-top: 0 !important;
  color: transparent !important;
  background: url(/wp-content/uploads/2022/07/green-arrow-right.png) center
    center no-repeat !important;
  border: none;
}
@media (max-width: 880px) {
  .subscribe-newsletter-form .hbspt-form .hs-input:not(input[type='checkbox']) {
    padding: 0 15px !important;
    height: 60px !important;
    line-height: 60px !important;
  }
}
.contact-col .hbspt-form .grecaptcha-badge,
.contact-col .hbspt-form .hs-form-field label,
.hero.fancy .breadcrumb-wrap,
.newsletter-form-wrap .hbspt-form .grecaptcha-badge,
.newsletter-form-wrap .hbspt-form .hs-form-field label,
.subscribe-newsletter-form .hbspt-form .grecaptcha-badge,
.subscribe-newsletter-form .hbspt-form .hs-form-field label {
  display: none !important;
}
.hbspt-form .submitted-message.hs-main-font-element,
.hbspt-form .submitted-message.hs-main-font-element *,
.hbspt-form .submitted-message.hs-main-font-element p {
  font-size: 18px;
}
.hbspt-form .hs-input:not(input[type='checkbox'])::placeholder {
  font-size: 18px;
  font-style: normal;
}
.footer .hbspt-form .hs-input:not(input[type='checkbox']) {
  font-size: 14px;
  height: 42px !important;
  line-height: 42px;
  letter-spacing: 0.021vw;
}
.footer .hbspt-form .hs-input:not(input[type='checkbox'])::placeholder {
  color: #fff;
  font-size: 12px;
}
.footer .hbspt-form .submitted-message p {
  font-size: 12px;
}
.footer .hbspt-form ul.hs-error-msgs {
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
  list-style: none;
}
.footer .hbspt-form ul.hs-error-msgs label {
  display: block;
}
