<div class='inline-form'>
  <div class='form-block-area'>
    <div class='form--container-src'>
      <script>
        hbspt.forms.create({
          region: 'na1',
          portalId: '4438792',
          formId: '{{ args.id }}',
          onFormReady: function (form) {
            if (window._cq && typeof window._cq.cheqFormReady === 'function') {
              window._cq.cheqFormReady(form);
            } else {
              window._cq = window._cq || {};
              window._cq.form = form;
            }
          },
        });
      </script>
    </div>
  </div>
</div>
