{% block header %}
  <header class='header'></header>
{% endblock %}
{% block content %}
  <main id='main-content' class='main'></main>
{% endblock %}
{% block footer %}
  <footer class='header'></footer>
{% endblock %}
