.ml6 {
  position: relative !important;
  font-weight: 900 !important;
  font-size: 3.3em !important;
}

.ml6 .text-wrapper {
  position: relative !important;
  display: inline-block !important;
  padding-top: 0.2em !important;
  padding-right: 0.05em !important;
  padding-bottom: 0.1em !important;
  overflow: hidden !important;
}

.ml6 .letter {
  display: inline-block !important;
  line-height: 1em !important;
}
