<div class='breadcrumb-wrap prel single-article-breadcrumb'>
  <div class=''>
    <ul class='breadcrumb-list ff-libre fw-400  txt-size-12 ltr-spc-pos-0_2 c-blue-1'>
      <li>
        <a href='{{ home_url }}'>Home</a>
      </li>
      <li>
        <a href='/resources/case-studies'>Case studies</a>
      </li>
    </ul>
    <p class='txt-size-12 upper  fw-400 ltr-spc-pos-4_6 current-page-breadcrumb-title c-blue-1'>
      {{ post.title }}
    </p>
    <div class='back-to-all'>
      <img
        width='21'
        height='16'
        src='{{ theme_url }}/assets/media/icons/green-arrow.svg'
        alt='Back Arrow'
        class='prel'
      >
      <a class='txt-size-16 c-blue-1 ' href='/resources/case-studies'>Back to all case studies</a>
    </div>
  </div>
</div>
