<div class='icon-row h-100 prel'>
  {% for index,icon in field.icons %}
    {% set image = icon.icon_one %}
    {% set heading = icon.heading %}
    {% set content = icon.content %}

    <div class='icons--item d-flex align-items-center'>
      <div class='list-image'>
        {% if image %}
          {% if field.use_img %}
            <div class='img--container'>
              {{ Image(image, 'img-300-300', {class: "f-image", 'width':300, 'height': 300}) }}
            </div>
          {% else %}
            <div class='img--wrap'>
              {{ Image(image, 'img-100-100', {'width':100, 'height': 100}) }}
            </div>
          {% endif %}
        {% endif %}
      </div>
      <div class='list-content ps-2'>
        {% if heading %}
          <p class='list-title mb-0'>
            {{ heading }}
          </p>
        {% endif %}
        {% if content %}
          <div class='list-text'>
            {{ content | raw }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
